<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<head>
		<!-- Datatables -->
	    <link  th:href="@{/admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
	    <link  th:href="@{/admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
	    <link  th:href="@{/admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
	    <link  th:href="@{/admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
	    <link  th:href="@{/admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
	</head>

	<th:block layout:fragment="customContents">
		<div class="col-md-12 col-sm-12 ">
			<div class="x_panel">
				<div class="x_content">
					<div class="row">
						<div class="col-sm-12">
							<div class="card-box table-responsive">
								<table id="listCashReceipts" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th class="cashCode">현금영수증 신청 코드</th>
											<th class="userId">구매자 아이디</th>
											<th class="cashReceiptType">현금영수증 용도</th>
											<th class="cashReceiptCode">현금영수증 번호</th>
											<th class="paymentTypeCode">결제종류 코드</th>
											<th>수정</th>
											<th>삭제</th>
									</thead>
									<tbody>
										<tr th:unless="${#lists.isEmpty(cashReceiptsList)}" th:each="l : ${cashReceiptsList}">
											<td th:text="${l.cashCode}"></td>
											<td th:text="${l.userId}"></td>
											<td th:text="${l.cashReceiptType}"></td>
											<td th:text="${l.cashReceiptCode}"></td>
											<td th:text="${l.paymentTypeCode}"></td>
											<td><a th:href="@{/admin/modifyCashReceipts(cashCode=${l.cashCode})}">수정</a></td>
											<td><a th:href="@{/admin/deleteCashReceipts(cashCode=${l.cashCode})}">삭제</a></td>
										</tr>
										<tr th:if="${#lists.isEmpty(cashReceiptsList)}">
											<td colspan="6">등록된 현금영수증 신청이 존재하지 않습니다.</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>

		<!-- 사용자 지정 js 파일 -->
	<th:block layout:fragment="customJs">
		<!-- Datatables -->
	    <script th:src="@{/admin/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
	    <script th:src="@{/admin/vendors/jszip/dist/jszip.min.js}"></script>
	    <script th:src="@{/admin/vendors/pdfmake/build/pdfmake.min.js}"></script>
	    <script th:src="@{/admin/vendors/pdfmake/build/vfs_fonts.js}"></script>
	</th:block>
	
		<!-- 사용자 지정 js script -->
	 
	<th:block layout:fragment="customScript">
		<script type="text/javascript" th:inline="javascript">

			const msg = [[${msg}]];
			if(msg != null){
				alert(msg);
			}

			$('#listCashReceipts').DataTable();
		</script>

	</th:block>

</html>