<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/userDefault}">

	<th:block layout:fragment="customContents">
	
		<div class="row">
			<div class="col-md-8 col-lg-9 p-b-80">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-userTable">
							<br>
							<br>
							<div class="pageTitle">
								<h1>order</h1>
							</div>
							<br>
							<div>아이디: </div>
							<table class="userTable">
								<thead>
									<tr>
										<th style="display : none">주문코드</th>
										<th>상품이름</th>
										<th>주문금액</th>
										<th>주문일자</th>
										<th>상태</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="l : ${userOrderList}">
										<td style="display : none" th:text="*{l.orderCode}"></td>
										<td th:if="*{l.orderCount} == 1" th:text="*{l.goodsName}"></td>
										<td th:if="*{l.orderCount} > 1" th:text="|*{l.goodsName} 외 *{l.orderCount-1}개|"></td>
										<td th:text="*{l.orderPaymentAmount}" style="border-top: none"></td>
										<td th:text="*{l.orderDate}" style="border-top: none"></td>
										<td th:text="*{l.orderState}"></td>
										<td>
											<ul>
												<li th:if="*{l.orderState} == '배송완료'"><a>구매확정</a></li>
												<li th:if="*{l.orderState} == '구매확정'"><a>리뷰작성</a></li>
												<li th:if="*{l.orderState} == '결제완료' or *{l.orderState} == '배송준비중'"><a>주문취소</a></li>
												<li th:if="*{l.orderState} == '배송완료'"><a>반품</a></li>
												<li th:if="*{l.orderState} == '배송완료'"><a>환불</a></li>
											</ul>
										</td>	
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
				
			<div class="side-menu">
				<div class="p-t-55">
					<h4 class="mtext-112 cl2 p-b-33">My Page</h4>
					<ul>
                        <li class="bor18">
                            <a href="/modifyUser" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">정보 수정</a>
                            <a href="/listPoint" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">포인트 내역</a>
                            <a href="/listOrder" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">주문 내역</a>
                            <a href="/listOrder" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">취소 내역</a>
                            <a href="/listOrder" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">교환/환불 내역</a>
                            <a href="/listDonation" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">기부 내역</a>
                            <a href="/admin" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">관리자 페이지</a>
                            <a href="/logout" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">로그아웃</a>
                        </li>
					</ul>
				</div>
				
			</div>
		</div>
		
	</th:block>
</html>