<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/userDefault}">

	<head>
		<style>
			a {
				color: #7a8ad9;
			}
			.userTable td {
				height : 180px;
			}
		</style>
	</head>
	

	<th:block layout:fragment="customContents">
	
		<div class="row">
			<div class="col-md-8 col-lg-9 p-b-80">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-userTable">
							<br>
							<br>
							<div class="pageTitle">
								<h1>Order</h1>
							</div>
							<br>
							<div th:text="|아이디: ${session.S_MEMBER_INFO.loginId}|" style="display: inline-block"></div>
							<div style="float:right;">
								<form th:action="@{/listOrder}" method="GET">
									<input type="date" name="startDate" style="display: inline-block"> 
									~ 
									<input type="date" name="endDate" style="display: inline-block">
									<input type="submit" value="검색" style="display: inline-block">
								</form>
							</div>
							<table class="userTable">
								<thead>
									<tr>
										<th style="display : none">주문코드</th>
										<th>상품이름</th>
										<th>주문금액</th>
										<th>주문일자</th>
										<th>상태</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:unless="${#lists.isEmpty(userOrderList)}" th:each="l : ${userOrderList}">
										<td style="display : none" th:text="${l.orderCode}"></td>
										<td th:if="${l.orderCount} == 1">
											<a th:text="${l.goodsName}" th:href="@{/contentsOrder(orderCode=${l.orderCode})}"></a>
										</td>
										<td th:if="${l.orderCount} > 1">
											<a th:text="|${l.goodsName} 외 ${l.orderCount-1}개|" th:href="@{/contentsOrder(orderCode=${l.orderCode})}"></a>
										</td>
										<td th:text="${l.orderPaymentAmount}"></td>
										<td th:text="${l.orderDate}"></td>
										<td th:if="${l.orderState} == null">
											<a href='javascript:void(0);' id="payment">결제 대기중</a>
										</td>
										<td th:unless="${l.orderState} == null" th:text="${l.orderState}"></td>
										<td th:text="${l.orderCode}" style="display:none"></td>
										<td>
											<ul>
												<li th:if="${l.orderState} == '배송완료'"><a href='javascript:void(0);' id="paymentConfirmLink">구매확정</a></li>
												<li th:if="${l.orderState} == '구매확정'"><a th:href="@{/addBoardReview(orderCode=${l.orderCode})}">리뷰작성</a></li>
												<li th:if="${l.orderState} == '결제완료' or ${l.orderState} == '배송준비중'"><a href='javascript:void(0);' id="paymentCancelLink">주문취소</a></li>
												<li th:if="${l.orderState} == '배송완료'"><a th:href="@{/requestExchange(orderCode=${l.orderCode})}">교환요청</a></li>
												<li th:if="${l.orderState} == '배송완료'"><a th:href="@{/requestRefund(orderCode=${l.orderCode})}">환불요청</a></li>
											</ul>
										</td>	
									</tr>
									<tr th:if="${#lists.isEmpty(userOrderList)}">
										<td colspan="6">주문 내역이 없습니다.</td>
									</tr>
								</tbody>
								<tfoot th:unless="${#lists.isEmpty(userOrderList)}">
									<tr>
										<td colspan="6">
											<a th:href="@{/listOrder}">[맨처음으로]</a>
											<a th:if="${currentPage > 1}" 
												 th:href="@{/listOrder(currentPage=${currentPage - 1})}"
											>[이전]</a>
											<span th:unless="${currentPage > 1}" >[이전]</span>
											<th:block th:each="num: ${#numbers.sequence(startPageNum, endPageNum)}">
												<a th:if="${currentPage != num}"
													 th:href="@{/listOrder(currentPage=${num})}"
													 th:text="|[ ${num} ]|">
												</a>
												<span th:if="${currentPage == num}">[[${'[' + num + ']'}]]</span>
											</th:block>
											<a th:if="${currentPage < lastPage}"
												 th:href="@{/listOrder(currentPage=${currentPage + 1})}"
											>[다음]</a>
											<span th:unless="${currentPage < lastPage}" >[다음]</span>
											<a th:href="@{/listOrder(currentPage=${lastPage})}">[맨마지막으로]</a>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
				
			<div class="side-menu">
				<div class="p-t-55">
					<h4 class="mtext-112 cl2 p-b-33">My Page</h4>
					<ul>
                        <li class="bor18">
                            <a href="/modifyUser" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">정보 수정</a>
                            <a href="/listPoint" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">포인트 내역</a>
                            <a href="/listOrder" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">주문 내역</a>
                            <a href="/listOrder" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">교환/환불 내역</a>
                            <a href="/listDonation" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">기부 내역</a>
                            <a href="/admin" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">관리자 페이지</a>
                            <a href="/logout" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">로그아웃</a>
                        </li>
					</ul>
				</div>
				
			</div>
		</div>
		
	</th:block>
	
	<!-- 사용자 지정 js 파일 -->
	<th:block layout:fragment="customJs">
		<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
	</th:block>

	<th:block layout:fragment="customScript">
		<script type="text/javascript" th:inline="javascript">
			const $paymentConfirmLink = document.getElementById('paymentConfirmLink');
			const $paymentCancelLink = document.getElementById('paymentCancelLink');
			
			if($paymentConfirmLink != null){
				let orderCode = $paymentConfirmLink.parentElement.parentElement.parentElement.previousElementSibling.innerText;
				$paymentConfirmLink.addEventListener('click', function(){
					if(confirm('구매를 확정하시겠습니까??')){
						location.href='/paymentConfirm?orderCode=' + orderCode;
					}
				})
			}
			if($paymentCancelLink != null){
				let orderCode = $paymentCancelLink.parentElement.parentElement.parentElement.previousElementSibling.innerText;
				$paymentCancelLink.addEventListener('click', function(){
					if(confirm('결제를 취소하시겠습니까?')){
						location.href='/cancelPayment?orderCode=' + orderCode;
					}
				})
			}
			
			const msg = [[${msg}]];
			if(msg != null){
				alert(msg);
			}
			
			//결제 준비
			var IMP = window.IMP;
    		IMP.init('imp71563822');
    		
    		const $payment = document.getElementById('payment');
    		$payment.addEventListener('click', function(){
    			requestPay(this);
    		})
    		
    		function requestPay(paymentLink) {
    			let orderPaymentAmount = paymentLink.parentElement.previousElementSibling.previousElementSibling.innerText;
    			let goodsName = paymentLink.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.children[0].innerText;
    			let orderCode = paymentLink.parentElement.parentElement.firstElementChild.innerText;
    			console.log(orderCode);
    			
		      // IMP.request_pay(param, callback) 결제창 호출
		      IMP.request_pay({ // param
		          pg: "html5_inicis",
		          pay_method: "card",
		          merchant_uid: 'merchant_' + new Date().getTime(),
		          name: goodsName,
		          amount: orderPaymentAmount,
		          buyer_email: "gildong@gmail.com",
		          buyer_name: "홍길동",
		          buyer_tel: "010-4242-4242",
		          buyer_addr: "서울특별시 강남구 신사동",
		          buyer_postcode: "01181"
		      }, function (rsp) { 
		          if(rsp.success){
		              //결제 성공
		              location.href="/addPaymentComplete?orderCode=" + orderCode;
		          }else{
		              //결제 실패
		              alert('결제에 실패하였습니다.');
		              return false;
		          }
		      });
		    }
		</script>

	</th:block>
</html>