<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<head>
		<!-- Datatables -->
	    <link  th:href="@{/admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
	    <link  th:href="@{/admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
	    <link  th:href="@{/admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
	    <link  th:href="@{/admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
	    <link  th:href="@{/admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
	</head>
	<th:block layout:fragment="customScript">
		<script type="text/javascript" th:inline="javascript">
			$(function(){
				$('#listGoodsBuying').DataTable();
				
				const msg = [[${msg}]];
				if(msg != null){
					alert(msg);
				}
				
				$('.deleteBtn').click(function(){
					let deleteCheck = confirm("정말 삭제하시겠습니까?")
					let deleteValue = $(this).val();
					
					if(!deleteCheck){
						return false;
					}else{
						$.ajax({
							type: "post",
							url: '/admin/deleteGoodsBuying',
							data: {"goods_buying_code": deleteValue},
							dataType: "json",
							success:function(data){
								var result = data.result
								var goods_buying_code = data.goods_buying_code
								var redirect = data.redirect	
								if(result == "성공"){
									alert(`카테고리 코드 ${goods_buying_code} 삭제했습니다.`)	
									location.href = redirect
								}else{
									alert("삭제에실패했습니다.")
									location.href = redirect
								};
							}
						});	
					};
				});
					/* $('.updateBtn').click(function(){
						window.name = "listGoodsBuying";
						let openWin = window.open('/admin/GoodsBuyingUpdate', '거래처검색'
												  ,'width=1000, height=600, top=100, left=100 scrollbar = yes');
					}); */
		});
		</script>	
	</th:block>
	<th:block layout:fragment="customContents">
		<div class="col-md-12 col-sm-12 ">
			<!-- <div class="item form-group">
			<label for="goodsSearchBtn" class="col-form-label col-md-3 col-sm-3 label-align">거래처 검색</label>
				<button type="button" class="btn btn-secondary btn-sm" id="GoodsBuyingUpdateBtn">거래처 검색</button>
			<div class="col-md-6 col-sm-6 ">
			</div> -->
		</div>
			<button type="submit" class="btn btn-primary" style="float: right">
				<a style ="color:white" th:href="@{/admin/addGoodsBuying}">등록</a></button>
			<div class="x_panel">
				<div class="x_content">
					<div class="row">
						<div class="col-sm-12">
							<div class="card-box table-responsive">
								<table id="listGoodsBuying" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th class="goods_buying_code">상품매입코드</th>
											<th class="business_code">거래처 코드</th>
											<th class="business_name">거래처 이름</th>
											<th class="goods_code">상품코드</th>
											<th class="buy_count">매입수량</th>
											<th class="goods_price">상품단가</th>
											<th class="buy_price">매입금액</th>
											<th class="buy_vat">매입 부가세액</th>
											<th class="buy_total">매입 합계</th>
											<th>업데이트</th>
											<th>편집</th>											
											<th>삭제</th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${not #lists.isEmpty(GoodsBuyingList)}" th:each="gbs : ${GoodsBuyingList}">
											<td th:text="${gbs.goods_buying_code}" />
											<td th:text="${gbs.business_code}" />
											<td th:text="${gbs.business_name}" />
											<td th:text="${gbs.goods_code}" />
											<td th:text="${gbs.buy_count}" />
											<td th:text="${gbs.goods_price}" />
											<td th:text="${gbs.buy_price}" />
											<td th:text="${gbs.buy_vat}" />
											<td th:text="${gbs.buy_total}" />"  
											<td><button type="button" class="btn btn-secondary btn-sm updateBtn" 
														th:value="${gbs.goods_buying_code}">업데이트</button></td>
											<td><button type="button" class="btn btn-primary btn-sm">
												<a style ="color:white" th:href="@{/admin/modifyGoodsBuying(goods_buying_code=${gbs.goods_buying_code})}">
														편집</a></button></td>
											<td><button type="button" class="btn btn-danger btn-sm deleteBtn" 
														th:value="${gbs.goods_buying_code}">삭제</button></td>
										</tr>
										<tr th:unless="${not #lists.isEmpty(GoodsBuyingList)}">
											<td colspan="4">등록된 카테고리가 없습니다람쥐</td>
										</tr>
									</tbody>
								</table>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	
		<!-- 사용자 지정 js 파일 -->
	<th:block layout:fragment="customJs">
		<!-- Datatables -->
	    <script th:src="@{/admin/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
	    <script th:src="@{/admin/vendors/jszip/dist/jszip.min.js}"></script>
	    <script th:src="@{/admin/vendors/pdfmake/build/pdfmake.min.js}"></script>
	    <script th:src="@{/admin/vendors/pdfmake/build/vfs_fonts.js}"></script>
	</th:block>
</html>