<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/adminDefault}">

<head>
    <style>
        button:not(#submitBtn, #resetBtn){
            width: 98%;
            height: 90%;
        }
        #submitBtn, #resetBtn{
            width: 47%;
        }
    </style>
</head>

<th:block layout:fragment="customScript">

</th:block>

<th:block layout:fragment="customContents">
    <form id = "boardModifyEvent" th:action = "@{/admin/modifyBoardEvent}" method = "post">
       <table>
           <tbody>
           <tr>
               <td>
                   <label for = "eventNum">이벤트 번호</label>
               </td>
               <td colspan="2" style="width:100px;">
                   <input type ="text" id = "eventNum" name = "eventNum"
                          placeholder = "이벤트 번호를 입력해주세요"  readonly = "readonly" maxlength="50" style = "width: 500px;"/>
               </td>
           </tr>
           <tr>
               <td>
                   <label for = "eventTitle">이벤트 제목</label>
               </td>
               <td colspan="2" style="width:100px;">
                   <input type ="text" id = "eventTitle" name = "eventTitle"
                          placeholder = "이벤트 제목을 입력해주세요" maxlength="50" style = "width: 500px;"/>
               </td>
           </tr>
           <tr>
               <td>
                   <label for = "eventContents">이벤트 내용</label>
               </td>
               <td colspan="2">
                    <textarea type ="text" id = "eventContents" name = "eventContents"
                              placeholder = "이벤트 내용을 입력해주세요" maxlength="2048" style = "width: 500px; height: 350px;"> </textarea>
               </td>
           </tr>
           <tr>
               <td>
                   <label for = "eventImage">이벤트 이미지를 넣어주세요</label>
               </td>
               <td colspan="2">
                   <input type ="image" id = "eventImage" name = "eventImage" alt="제출" style = "width: 250px; height: 175px;" />
               </td>
           </tr>
           <tr>
               <td>
                   <label for = "eventStartDate">이벤트 시작일을 넣어주세요</label>
               </td>
               <td colspan="2">
                   <input type ="date" id = "eventStartDate" name = "eventStartDate" />
               </td>
           </tr>
           <tr>
               <td>
                   <label for = "eventEndDate">이벤트 마감일을 넣어주세요</label>
               </td>
               <td colspan="2">
                   <input type ="date" id = "eventEndDate" name = "eventEndDate"th:value="*{eventEndDate}" />
               </td>
           </tr>
           </tbody>
           <tfoot>
           <tr>
               <td colspan="3">
                   <button type="button" id="submitBtn">수정</button>
                   <button type="reset" id="resetBtn">취소</button>
               </td>
           </tr>
           </tfoot>
       </table>
    </form>
</th:block>
</html>