<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/adminDefault}">

<head>
    <style type="text/css">
        div {
            color: black;
        }
        #inputTitle {
            width: 100%
        }
        #inputContent {
            width: 100%
        }
        .btnGroup {
            text-align : center;
        }
        button {
            width: 20%
        }
        label {
            font-size: 20px;
            margin: 5px;
        }
    </style>
</head>

<!-- 사용자 지정 js 파일 -->
<th:block layout:fragment="customJs">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</th:block>


</th:block>
    <h1>이벤트 삭제</h1>

    <table class="tg">
        <thead>
        <tr>
            <th class="tg-c3ow" colspan="2">관리자 로그인</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="tg-0pky">관리자 아이디</td>
            <td class="tg-0pky">
                <input type = "text" id = "adminID">
            </td>
        </tr>
        <tr>
            <td class="tg-0pky">관리자 비밀번호</td>
            <td class="tg-0pky">
                <input type = "password" id = "adminPW">
            </td>
        </tr>
        <tr>
            <td class="tg-baqh">
                <button type="button" id="deleteBtn">삭제</button>
            </td>
            <td class="tg-baqh">
                <button type="reset" id="resetBtn">취소</button>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>
</html>
