<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/adminDefault}">

<head>
    <!-- Datatables -->
    <link  th:href="@{/admin/venDrops/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
    <link  th:href="@{/admin/venDrops/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
    <link  th:href="@{/admin/venDrops/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
    <link  th:href="@{/admin/venDrops/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
    <link  th:href="@{/admin/venDrops/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
</head>
<th:block layout:fragment="customScript">
    <script>
        $(function(){
            $('#userDropList').DataTable();
        });
    </script>
</th:block>
<th:block layout:fragment="customContents">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">

                            <table id="userDropList" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>탈퇴회원아이디</th>
                                    <th>탈퇴회원비밀번호</th>
                                    <th>탈퇴회원이름</th>
                                    <th>탈퇴닉네임</th>
                                    <th>탈퇴회원주소</th>
                                    <th>탈퇴회원전화번호</th>
                                    <th>탈퇴회원이메일</th>
                                    <th>탈퇴회원생년월일</th>
                                    <th>탈퇴포인트상태</th>
                                    <th>탈퇴변경날짜</th>
                                    <th>회원 탈퇴여부</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if ="${not #lists.isEmpty(userDropList)}"
                                    th:each="u : ${userDropList}">
                                    <td th:text ="${u.userId}"/></td>
                                    <td th:text ="${u.userPw}"/></td>
                                    <td th:text ="${u.userName}"/></td>
                                    <td th:text ="${u.userNickName}"/></td>
                                    <td th:text ="${u.userAddr}"/></td>
                                    <td th:text ="${u.userPhone}"/></td>
                                    <td th:text ="${u.userEmail}"/></td>
                                    <td th:text ="${u.userBirth}"/></td>
                                    <td th:text ="${u.pointState}"/></td>
                                    <td th:text ="${u.userJoinDate}"/></td>
                                    <td th:text ="${u.userDropState}"/></td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(userDropList)}">
                                    <td colspan="9">등록한 회원이 없습니다.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<!-- 사용자 지정 js 파일 -->
<th:block layout:fragment="customJs">
    <!-- Datatables -->
    <script th:src="@{/admin/venDrops/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/admin/venDrops/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/admin/venDrops/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/admin/venDrops/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
    <script th:src="@{/admin/venDrops/datatables.net-buttons/js/buttons.flash.min.js}"></script>
    <script th:src="@{/admin/venDrops/datatables.net-buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{/admin/venDrops/datatables.net-buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{/admin/venDrops/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
    <script th:src="@{/admin/venDrops/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/admin/venDrops/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/admin/venDrops/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
    <script th:src="@{/admin/venDrops/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
    <script th:src="@{/admin/venDrops/jszip/dist/jszip.min.js}"></script>
    <script th:src="@{/admin/venDrops/pdfmake/build/pdfmake.min.js}"></script>
    <script th:src="@{/admin/venDrops/pdfmake/build/vfs_fonts.js}"></script>
</th:block>
</html>