<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/adminDefault}">

<head>
    <style type="text/css">
        table {
            border: 1px solid black;
            width: 100%;
            table-layout: auto;
            text-align: center;
        }
        th {
            border: 1px solid black;
            background-color: cornflowerblue;
            color: azure;
            height: 30px;
        }
        td {
            border: 1px solid black;
            height: 30px;
        }
        #submitBtn{
            margin-right: 30px;
        }
        input {
            width: 98%;
            height: 80%;
        }
        select {
            width: 99%;
            height: 90%;
        }
        button {
            width: 47%;
            height: 90%;
        }

    </style>
</head>
<th:block layout:fragment="customJs">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</th:block>
<th:block layout:fragment="customScript">
    <script>
        $(function (){
            $('resetBtn').click(function (){
                location.href='/admin/listUser';
            })
        })
        $(function (){ //window.onload(요소가 다 렌더링이 되고 나서 실행)
            $('#submitBtn').click(function (){
                let isSubmint =true;
                $('#modifyUser input').each(function (idx,item){
                    let checkValue = $(item).val();
                    let labelValue = $(item).parents('tr').find('label').text();
                    if(typeof checkValue =='undefined'||checkValue==null||checkValue==''){
                        alert(`${labelValue}를 입력해 주세여`);
                        $(item).focus();
                        isSubmint=false;
                        return false;
                    }
                });
                if(isSubmint) $('#modifyUser').submit();
            });
        });
    </script>
</th:block>
<th:block layout:fragment="customContents">
    <h1>회원수정</h1>
    <form id="modifyUser" th:action="@{/admin/modifyUser}" method="post">
        <table th:object="${userInfo}">
            <tbody>
            <tr>
                <td>
                    <label for="userId">회원아이디</label>
                </td>
                <td>
                    <input type="text" id="userId"
                           name="userId"
                           th:value="*{userId}"
                           readonly="readonly">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="userPw">회원비밀번호</label>
                </td>
                <td >
                    <input type="password"
                           id="userPw"
                           name="userPw"
                           th:value="*{userPw}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="userName">회원이름</label>
                </td>
                <td>
                    <input type="text"
                           id="userName"
                           name="userName"
                           th:value="*{userName}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="userNickName">닉네임</label>
                </td>
                <td>
                    <input type="text"
                           id="userNickName"
                           name="userNickName"
                           th:value="*{userNickName}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="userBirth">회원 생년월일</label>
                </td>
                <td>
                    <input type="date"
                           id="userBirth"
                           name="userBirth"
                           th:value="*{userBirth}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="userPhone">회원전화번호</label>
                </td>
                <td>
                    <input type="text"
                           id="userPhone"
                           name="userPhone"
                           th:value="*{userPhone}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="userEmail">회원이메일</label>
                </td>
                <td>
                    <input type="text"
                           id="userEmail"
                           name="userEmail"
                           th:value="*{userEmail}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="userAddr">회원주소</label>
                </td>
                <td>
                    <input type="text"
                           id="userAddr"
                           name="userAddr"
                           th:value="*{userAddr}">
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">
                    <button type="button" id="submitBtn">회원수정</button>
                    <button type="reset" id="resetBtn">취소</button>
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
</th:block>

</html>