<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/userDefault}">
	
	<head>
		<style>
			.reviewEmptyStarCount{
			    color: transparent;
			    text-shadow: 0 0 0 #f0f0f0;
			}
			.reviewStarCount{
			    color : #ffd14b;
			}
		</style>
	</head>

	<th:block layout:fragment="customContents">
		<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="slick3 gallery-lb">
								<!-- 보여지는 사진페이지 -->
								<div class="item-slick3" data-thumb="images/product-detail-03.jpg">
									<div class="wrap-pic-w pos-relative">
									<th:block th:if="${not #lists.isEmpty(getGoodsList)}" th:each="gl : ${getGoodsList}">
										<img th:src="@{|/${gl.fileDto.filePath}|}" alt="IMG-PRODUCT">
										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" th:href="@{|/${gl.fileDto.filePath}|}">
											<i class="fa fa-expand"></i>
										</a>
									</th:block>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- 특정 상세페이지  -->
				<th:block th:if="${not #lists.isEmpty(getGoodsList)}" th:each="gl : ${getGoodsList}">
					<div class="col-md-6 col-lg-5 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h4 class="mtext-105 cl2 js-name-detail p-b-14" th:text="${gl.goodsName}"></h4>
							<span class="mtext-106 cl2" th:text="${#numbers.formatInteger(gl.goodsPrice, 3, 'COMMA') + '원'}" ></span>
							<p class="stext-102 cl3 p-t-23" th:text="${gl.goodsSangse}"></p>
							<div class="p-t-33">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">Size</div>
									<!-- 해당 상품 사이즈 -->
									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select id="goodsSize" name="goodsSize" class="form-control" th:value="${gl.goodsSize}">
												<option th:selected="${gl.goodsSize}=='230'">230</option>
			                             		<option th:selected="${gl.goodsSize}=='240'">240</option>
			                             		<option th:selected="${gl.goodsSize}=='250'">250</option>
			                             		<option th:selected="${gl.goodsSize}=='260'">260</option>
			                             		<option th:selected="${gl.goodsSize}=='270'">270</option>
			                             		<option th:selected="${gl.goodsSize}=='280'">280</option>
			                             		<option th:selected="${gl.goodsSize}=='S'">S</option>
			                             		<option th:selected="${gl.goodsSize}=='M'">M</option>
			                             		<option th:selected="${gl.goodsSize}=='L'">L</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>
	
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">Color</div>
									<!-- 상품 컬러 -->
									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select id="goodsColor" name="goodsColor" class="form-control" th:value="${gl.goodsColor}">
												<option th:selected="${gl.goodsColor}=='black'">black</option>
			                                 	<option th:selected="${gl.goodsColor}=='gray'">gray</option>
			                                 	<option th:selected="${gl.goodsColor}=='white'">white</option>
			                                 	<option th:selected="${gl.goodsColor}=='blue'">blue</option>
			                                 	<option th:selected="${gl.goodsColor}=='red'">red</option>
			                                 	<option th:selected="${gl.goodsColor}=='pink'">pink</option>
			                                 	<option th:selected="${gl.goodsColor}=='beige'">beige</option>
			                                 	<option th:selected="${gl.goodsColor}=='brown'">brown</option>
			                                 	<option th:selected="${gl.goodsColor}=='gold'">gold</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>
	
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next">
										<div class="wrap-num-product flex-w m-r-20 m-tb-10">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>
											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">
											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>
										<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
											장바구니
										</button>
									</div>
								</div>	
							</div>
						</div>
					</div>
				</th:block>
			</div>

			<div class="bor10 m-t-50 p-t-43 p-b-40">
				<!-- Tab01 -->
				<div class="tab01">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item p-b-10">
							<a class="nav-link active" data-toggle="tab" href="#description" role="tab">상품 상세 설명</a>
						</li>

						<li class="nav-item p-b-10">
							<a class="nav-link" data-toggle="tab" href="#reviews" role="tab" id="reviewTab">상품평</a>
						</li>
					</ul>
	
					<!-- Tab panes -->
					<th:block th:if="${not #lists.isEmpty(getGoodsList)}" th:each="gl : ${getGoodsList}">
					<div class="tab-content p-t-43">
						<!-- - -->
						<div class="tab-pane fade show active" id="description" role="tabpanel">
							<div class="how-pos2 p-lr-15-md">
								<p class="stext-102 cl6" >
									<img th:src="@{|/${gl.fileSangse}|}" alt="IMG-PRODUCT">
								</p>
							</div>
						</div>
						</th:block>
					
						<!-- - -->
						<div class="tab-pane fade" id="reviews" role="tabpanel">
							<div class="row">
								<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
									<div class="p-b-30 m-lr-15-sm">
									
										<!-- Review -->
										<div class="flex-w flex-t p-b-68" id="goodsReviewDiv">

											<div class="size-207" id="goodsReviewTab">
												
											</div>
										</div>
										
										<div id="goodsReviewPage">
											
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
			<span class="stext-107 cl6 p-lr-25">
				Ire
			</span>
		</div>
	</section>
	</th:block>
	
	<th:block layout:fragment="customScript">
		<script type="text/javascript" th:inline="javascript">

			const $reviewTab = document.getElementById('reviewTab');
			const $goodsReviewTab = document.getElementById('goodsReviewTab');
			const $goodsReviewDiv = document.getElementById('goodsReviewDiv');
			const $reviewStarCountEle = document.getElementById('reviewStarCount');
			const $goodsReviewPage = document.getElementById('goodsReviewPage');
			const goodsCode = [[${getGoodsList}]][0].goodsCode;
			
			//동적 페이지 생성 함수
			function getReviewPage(reviewInfo){
				 const divIdDate = document.createElement('div');
				 const spanId = document.createElement('span');
				 spanId.setAttribute('class', 'mtext-107 cl2 p-r-20');
				 const spanDate = document.createElement('span');
				 
				 const spanStar = document.createElement('span');
				 spanStar.setAttribute('class', 'reviewStarCount');
				 const spanEmptyStar = document.createElement('span');
				 spanEmptyStar.setAttribute('class', 'reviewEmptyStarCount');
				 
				 const p = document.createElement('p');
				 
				 const pContents = document.createElement('p');
				 pContents.style.whiteSpace = 'pre-line';
				 
				 const imgReview = document.createElement('img');
				 imgReview.setAttribute('alt', '리뷰 사진');
				 imgReview.style.width = '100px';
				 imgReview.style.height = '100px';
				 
				 const divSpace = document.createElement('div');
				 divSpace.style.height = '50px';
				 
				 //값 할당
				 spanId.innerText = reviewInfo.userId;
				 spanDate.innerText = reviewInfo.reviewRegDate;
				 divIdDate.append(spanId);
				 divIdDate.append(spanDate);
				 $goodsReviewTab.append(divIdDate);
				 
				 switch(reviewInfo.reviewStarCount){
				 case 1 : spanStar.innerText = '★';
				 		  spanEmptyStar.innerText = '★★★★';
						  break;
				 case 2 : spanStar.innerText = '★★';
				 		  spanEmptyStar.innerText = '★★★';
						  break;
				 case 3 : spanStar.innerText = '★★★';
				 		  spanEmptyStar.innerText = '★★';
						  break;		  
				 case 4 : spanStar.innerText = '★★★★';
				 		  spanEmptyStar.innerText = '★★';
						  break;		  
				 case 5 : spanStar.innerText = '★★★★★';
				 		  spanEmptyStar.innerText = '';
						  break;		    
				 }
				 $goodsReviewTab.append(spanStar);
				 $goodsReviewTab.append(spanEmptyStar);
				 $goodsReviewTab.append(p);
				 
				 pContents.innerText = reviewInfo.reviewContent
				 $goodsReviewTab.append(pContents);
				 
				 if(reviewInfo.reviewImagePath != null){
					 imgReview.src = reviewInfo.reviewImagePath;
					 $goodsReviewTab.append(imgReview);
				 }
				 
				 $goodsReviewTab.append(divSpace);
			}
			
			
			//페이지 목록 생성
			function pageList(data){
				const spanPreviousPage = document.createElement('span');
				spanPreviousPage.setAttribute('class', 'pageButton');
				const spanNextPage = document.createElement('span');
				spanNextPage.setAttribute('class', 'pageButton');
				
				spanPreviousPage.innerText = '[이전]';
				spanNextPage.innerText = '[다음]';
				
				$goodsReviewPage.append(spanPreviousPage);
				
				let startPageNum = data.startPageNum;
				let endPageNum = data.endPageNum;
				for(let i=startPageNum; i<=endPageNum; i++){
					let spanPageList = document.createElement('span');
					spanPageList.setAttribute('class', 'pageButton');
					spanPageList.innerText = '[' + i + ']';
					$goodsReviewPage.append(spanPageList);
				}
				$goodsReviewPage.append(spanNextPage);
			}
			
			let pageButtonArr = document.querySelectorAll('.pageButton');
			
			//리뷰 탭 클릭 이벤트
			$reviewTab.addEventListener('click', function(){
				let request = $.ajax({
					url : "/listBoardReview",
					method : 'GET',
					data : {'goodsCode' : goodsCode},
					dataType : 'json'
				});
				
				request.done(function(data){
					let reviewForGoods = data.reviewForGoods
					for(let reviewInfo of reviewForGoods){
						getReviewPage(reviewInfo);
					}
					pageList(data);
					pageButtonArr = document.querySelectorAll('.pageButton');
					console.log(pageButtonArr);
					movePage();
					
				});
				request.fail(function(jdXHR, textStatus){
					console.log("Request failed : " + textStatus);
				});
			})
			
			//리뷰 페이지 이동
			//클릭 이벤트 부여가 되지 않은듯
			function movePage(){
				for (const pageButton of pageButtonArr) {
					pageButton.addEventListener('click', function() {
						console.log(this)
						let request = $.ajax({
							url : "/listBoardReview",
							method : 'GET',
							data : {'goodsCode' : goodsCode},
							dataType : 'json'
						});
						
						request.done(function(data){
							
							
							
						});
						request.fail(function(jdXHR, textStatus){
							console.log("Request failed : " + textStatus);
						});
					}
				)};
			}
			
		</script>

	</th:block>
</html>