<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/adminDefault}">
<head>
</head>


<th:block layout:fragment="customContents">
    <div class="x_panel">
        <div class="x_title">
            <div class="clearfix"></div>
        </div>

        <div class="x_content">
            <br>
            <form th:action="@{/admin/addoutgoingRawmaterials}" method="post" data-parsley-validate class="form-horizontal form-label-left" novalidate>
                <div class="item form-group">
                    <label for="rawMaterialsOutgoingAmount" class="col-form-label col-md-3 col-sm-3 label-align">원자재 코드</label>
                    <div class="col-md-6 col-sm-6 ">
                        <select id="rawMaterialsCode" name="rawMaterialsCode" class="form-control">
                            <th:block th:if="${not #lists.isEmpty(addoutgoingRawmaterialsInfo)}"
                                >
                                <option th:each = "l:${addoutgoingRawmaterialsInfo}" th:value = "${l.rawMaterialsCode}" th:text = "${l.rawMaterialsCode}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="item form-group">
                    <label for="rawMaterialsOutgoingAmount" class="col-form-label col-md-3 col-sm-3 label-align">출고 수량</label>
                    <div class="col-md-6 col-sm-6 ">
                        <select id="rawMaterialsOutgoingAmount" name="rawMaterialsOutgoingAmount" th:with="numArr=${#numbers.sequence(1, 1)}" class="form-control">
                            <th:block th:each="num : ${numArr}">
                                <option th:value="${num}" th:text="${num}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="item form-group">
                    <label for="businessCode" class="col-form-label col-md-3 col-sm-3 label-align">거래처 코드</label>
                    <div class="col-md-6 col-sm-6 ">
                        <select id="businessCode" name="businessCode" class="form-control">
                            <option value="business_004">제이에스팩토리(004)</option>
                            <option value="business_006">비에이치팩토리(006)</option>
                        </select>
                    </div>
                </div>
                <div class="item form-group">
                    <div class="col-md-6 col-sm-6 offset-md-3">
                        <button class="btn btn-success" type="button" id="submitBtn">등록</button>
                        <button class="btn btn-primary" type="button" id="cancelBtn">취소</button>
                    </div>
                </div>
            </form>

        </div>


    </div>
</th:block>


<!-- 사용자 지정 js script -->

<th:block layout:fragment="customScript">
    <script type="text/javascript" th:inline="javascript">
        const $cancelBtn = document.getElementById('cancelBtn');
        const $resetBtn = document.getElementById('resetBtn');
        const $submitBtn = document.getElementById('submitBtn');
        const $inputEle = document.querySelectorAll('.item > div > input');

        console.log($inputEle);

        $cancelBtn.addEventListener('click', function(){
            location.href = '/admin/listOutgoingRawmaterials';
        });

        $submitBtn.addEventListener('click', function(){
            let checkFlag = true;
            $inputEle.forEach(function(item){
                if(item.value == '' || typeof item.value == 'undefined' || item.value == null){
                    checkFlag = false;
                }
            })
            if(checkFlag){
                $submitBtn.setAttribute("type", "submit")
            }else{
                alert('값을 전부 입력해주세요.');
            }
        });

        const msg = [[${msg}]];
        if(msg != null){
            alert(msg);
        }

    </script>

</th:block>

</html>