<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/adminDefault}">
<head>
</head>

<th:block layout:fragment="customContents">
    <div class="x_panel">
        <div class="x_title">
            <div class="clearfix"></div>
        </div>

        <div class="x_content" th:object="${rawMaterialsOutgoingDeleteInfo}">
            <br>
            <form th:action="@{/admin/deleteoutgoingRawmaterials}" method="post" data-parsley-validate class="form-horizontal form-label-left" novalidate>
                <div class="item form-group">
                    <label for="rawMaterialsOutgoingCode" class="col-form-label col-md-3 col-sm-3 label-align">원자재 출고 코드</label>
                    <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="rawMaterialsOutgoingCode" name="rawMaterialsOutgoingCode" th:value="*{rawMaterialsOutgoingCode}"
                               readonly="readonly" class="form-control"/>
                    </div>
                </div>
                <div class="item form-group">
                    <label for="rawMaterialsOutgoingAmount" class="col-form-label col-md-3 col-sm-3 label-align">원자재 출고 수량</label>
                    <div class="col-md-6 col-sm-6 ">
                        <input type="int" id="rawMaterialsOutgoingAmount" name="rawMaterialsOutgoingAmount" th:value="*{rawMaterialsOutgoingAmount}"
                               readonly="readonly" class="form-control"/>
                    </div>
                </div>
                <div class="item form-group">
                    <label for="rawMaterialsOutgoingDate" class="col-form-label col-md-3 col-sm-3 label-align">출고 날짜</label>
                    <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="rawMaterialsOutgoingDate" name="rawMaterialsOutgoingDate" th:value="*{rawMaterialsOutgoingDate}"
                               readonly="readonly" class="form-control"/>
                    </div>
                </div>
                <div class="item form-group">
                    <label for="rawMaterialsCode" class="col-form-label col-md-3 col-sm-3 label-align">원자재 코드</label>
                    <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="rawMaterialsCode" name="rawMaterialsCode" th:value="*{rawMaterialsCode}"
                               readonly="readonly" class="form-control"/>
                    </div>
                </div>
                <div class="item form-group">
                    <label for="businessCode" class="col-form-label col-md-3 col-sm-3 label-align">거래처 코드</label>
                    <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="businessCode" name="businessCode" th:value="*{businessCode}"
                               readonly="readonly" class="form-control"/>
                    </div>
                </div>
                <div class="item form-group">
                    <label for="deleteCheck" class="col-form-label col-md-3 col-sm-3 label-align">삭제하시려면 "삭제"를 입력해주세요.</label>
                    <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="deleteCheck" name="deleteCheck" placeholder="삭제"
                               class="form-control"/>
                    </div>
                </div>

                <div class="item form-group">
                    <div class="col-md-6 col-sm-6 offset-md-3">
                        <button class="btn btn-primary" type="button" id="cancelBtn">취소</button>
                        <button class="btn btn-danger" type="button" id="deleteBtn">삭제</button>
                    </div>
                </div>
            </form>

        </div>


    </div>
</th:block>


<!-- 사용자 지정 js script -->

<th:block layout:fragment="customScript">
    <script type="text/javascript" th:inline="javascript">
        const $cancelBtn = document.getElementById('cancelBtn');
        const $deleteBtn = document.getElementById('deleteBtn');
        const $deleteCheck = document.getElementById('deleteCheck');

        $cancelBtn.addEventListener('click', function(){
            location.href = '/admin/listOutgoingRawmaterials';
        });
        $deleteBtn.addEventListener('click', function(){
            if($deleteCheck.value == '삭제'){
                if(confirm('정말 삭제하시겠습니까?')){
                    $deleteBtn.setAttribute("type", "submit");
                }

            }else{
                alert('확인 문구가 일치하지 않습니다.');
            }
        });



        const msg = [[${msg}]];
        if(msg != null){
            alert(msg);
        }

    </script>

</th:block>
</html>