<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/adminDefault}">

<head>
</head>
<th:block layout:fragment="customScript">
    <script>
        $(function(){
            $('#listEvent').DataTable();
        })
    </script>
</th:block>
<th:block layout:fragment="customScript">
    <script>
        $(function(){
            $('#rawmaterialsList').DataTable();
        });
    </script>
</th:block>

<body>
	<th:block layout:fragment="customContents">
		<h1>원자재재고</h1>
	<table id = "rawmaterialsList" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class = "userId">작성자아이디</th>
                    <th class = "rawmaterialsIncomingDate">입고날짜</th>
                    <th class = "rawmaterialsOutcomingDate">출고날짜</th>
                    <th class = "rawmaterialsNum">원자재번호.</th>
                    <th class = "goodsCo2Code">상품별 co2배출 기준코드</th>
                    <th class = "rawmaterialsAmount">원자재 재고 수량</th>
                </tr>
            </thead>
            <tbody>	
            	
             
					<tr th:if="${not #lists.isEmpty(rawmaterialsList)}"
					 th:each="l : ${rawmaterialsList}">					
                    <td th:text="${l.userId}"/>              
                    <td th:text="${l.rawmaterialsIncomingDate}" />
                    <td th:text="${l.rawmaterialsOutcomingDate}" />
                    <td th:text="${l.rawmaterialsNum}" />
                    <td th:text="${l.goodsCo2Code}" />
                    <td th:text="${l.rawmaterialsAmount}" />
          
            </tbody>
        </table>
              </th:block>

</body>


<th:block layout:fragment="customJs">
    <!-- Datatables -->
    <script th:src="@{/admin/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
    <script th:src="@{/admin/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
    <script th:src="@{/admin/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{/admin/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{/admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
    <script th:src="@{/admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
    <script th:src="@{/admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
    <script th:src="@{/admin/vendors/jszip/dist/jszip.min.js}"></script>
    <script th:src="@{/admin/vendors/pdfmake/build/pdfmake.min.js}"></script>
    <script th:src="@{/admin/vendors/pdfmake/build/vfs_fonts.js}"></script>

</th:block>
</html>