<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team02.ire.admin.mapper.BasketMapper">
	<resultMap type="Basket" 					id="basketResultMap">
		<id property="basketCode" 				column="basket_code" />
		<result property="goodsCode" 			column="goods_code" />
		<result property="basketGroup"		 	column="basket_group" />
		<result property="userId" 				column="user_id" />
		<result property="goodsName" 			column="goods_name" />
		<result property="categoryMediumCode"	column="category_medium_code" />
		<result property="categoryMediumName"	column="category_medium_name" />
		<result property="goodsPrice"			column="goods_price" />
		<result property="basketAmount"			column="basket_amount" />
		<result property="eachPaymentAmount"	column="each_payment_amount" />
		<result property="regDate"				column="reg_date" />
		<result property="basketState"			column="basket_state" />
	</resultMap>
	
	<delete id="deleteBasket" parameterType="String">
		<!-- 장바구니 삭제 -->
		DELETE 
			b
		FROM 
			basket AS b
		WHERE 
			b.basket_code = #{basketCode};
	</delete>
	
	<update id="modifyBasket" parameterType="Basket">
		<!-- 장바구니 수정 -->
		UPDATE 
			basket 
		SET 
			 goods_code = #{goodsCode}
			,basket_group = #{basketGroup}
			,user_id = #{userId}
			,goods_name = #{goodsName}
			,category_medium_code = #{categoryMediumCode}
			,goods_price = #{goodsPrice}
			,basket_amount = #{basketAmount}
			,each_payment_amount = #{eachPaymentAmount}
			,reg_date = #{regDate}
			,basket_state = #{basketState}
		WHERE 
			basket_code = #{basketCode};
	</update>
	
	<select id="getBasketInfo" parameterType="String" resultMap="basketResultMap">
		<!-- 장바구니 코드로 장바구니 조회 -->
		SELECT 
			 b.basket_code
			,b.goods_code
			,b.basket_group
			,b.user_id
			,b.goods_name
			,b.category_medium_code
			,cm.category_medium_name
			,b.goods_price
			,b.basket_amount
			,b.each_payment_amount
			,b.reg_date
			,b.basket_state
		FROM 
			basket AS b
			INNER JOIN
			category_medium AS cm
			ON 
			b.category_medium_code = cm.category_medium_code
		WHERE 
			b.basket_code = #{basketCode};
	</select>
	
	<insert id="addBasket" parameterType="Basket">
		<!-- 장바구니 등록 -->
		INSERT INTO basket (
			 basket_code
			,goods_code
			,basket_group
			,user_id
			,goods_name
			,category_medium_code
			,goods_price
			,basket_amount
			,each_payment_amount
			,reg_date
			,basket_state
		)VALUES(
			 sf_new_basket_code()
			,#{goodsCode}
			,#{basketGroup}
			,#{userId}
			,#{goodsName}
			,#{categoryMediumCode}
			,#{goodsPrice}
			,#{basketAmount}
			,#{eachPaymentAmount}
			,#{regDate}
			,#{basketState}
		);
	</insert>	
	
	<select id="getBasketList" resultMap="basketResultMap">
		<!-- 장바구니 조회 -->
		SELECT 
			b.basket_code
			,b.goods_code
			,b.basket_group
			,b.user_id
			,b.goods_name
			,cm.category_medium_name
			,b.goods_price
			,b.basket_amount
			,b.each_payment_amount
			,b.reg_date
			,b.basket_state
		FROM 
			basket AS b
			INNER JOIN 
			category_medium AS cm
			ON 
			b.category_medium_code = cm.category_medium_code;
	</select>

</mapper>