<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team02.ire.admin.mapper.BoardFAQMapper">
	<resultMap id="BoardFAQResultMap" type="BoardFAQ">
        <id property="FAQ_code"			column="FAQ_code" />
        <result property="FAQ_title"			column="FAQ_title" />
        <result property="FAQ_contents"		column="FAQ_contents" />
        <result property="FAQ_file"		column="FAQ_file" />
        <result property="FAQ_views"		column="FAQ_views" />
        <result property="FAQ_reg_date"	column="FAQ_reg_date" />
    </resultMap>
    

    
    <!-- FAQ 등록 -->
    <insert id="addFAQ" parameterType="BoardFAQ">
    	INSERT INTO faq(
    		FAQ_code
			,FAQ_title
			,FAQ_contents
			,FAQ_file
			,FAQ_views
			,FAQ_reg_date
		)VALUES(
			sf_new_faq_code(), 
			#{FAQ_title}, 
			#{FAQ_contents}, 
			null, 
			'0', 
			CURDATE()
		)
    </insert>
    
    <!-- FAQ 리스트 -->
    <select id="getFAQList" resultMap="BoardFAQResultMap">   
    SELECT
		faq.FAQ_code
		,faq.FAQ_title
		,faq.FAQ_contents
		,faq.FAQ_file
		,faq.FAQ_views
		,faq.FAQ_reg_date
	FROM
		faq AS faq
    </select>
    
    <!-- FAQ 상세페이지 -->
    <select id="contentsFAQ" resultMap="BoardFAQResultMap">
    SELECT 
	FAQ_code
		, FAQ_title
		, FAQ_contents
		, FAQ_file
		, FAQ_views
		, FAQ_reg_date
	FROM 
		faq AS faq
	WHERE
		faq.FAQ_code =  #{FAQ_code};
    </select>
    
    <!-- FAQ 수정처리 -->
    <update id="modifyBoardFAQ" parameterType="BoardFAQ">
	    UPDATE faq
		<trim prefix="SET" prefixOverrides=",">
			<if test="FAQ_title != null and FAQ_title != '' ">
				,FAQ_title = #{FAQ_title}
			</if>
			<if test="FAQ_contents != null and FAQ_contents != '' ">
				,FAQ_contents = #{FAQ_contents}
			</if>
		</trim>
		WHERE FAQ_code= #{FAQ_code}
    </update>
    
    <!-- FAQ 삭제처리 -->
    <delete id="deleteBoardFAQ" parameterType="String">
    DELETE
    FROM
    	faq 
    WHERE
     	FAQ_code = #{FAQ_code}
    </delete>
    
</mapper>