<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team02.ire.admin.mapper.BuybasketMapper">
	<resultMap type="Buybasket" 				id="buybasketResultMap">
		<id property="basketGroup" 				column="basket_group" />
		<result property="userId" 				column="user_id" />
		<result property="expectedAmount"		column="expected_amount" />
		<result property="usePoint" 			column="use_point" />
		<result property="finalPaymentAmount" 	column="final_payment_amount" />
		<result property="regDate"				column="reg_date" />
		<collection property="basketList" javaType="list" ofType="Basket">
			<id property="basketCode" column="basket_code"/>
			<result property="goodsCode" column="goods_code" />
			<result property="goodsName" column="goods_name" />
			<result property="basketAmount" column="basket_amount" />
			<result property="eachPaymentAmount" column="each_payment_amount" />
		</collection>
	</resultMap>
	
	
	
	
	
</mapper>