<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team02.ire.admin.mapper.BuybasketMapper">
	<resultMap type="Buybasket" 				id="buybasketResultMap">
		<id property="basketGroup" 				column="basket_group" />
		<result property="userId" 				column="user_id" />
		<result property="expectedAmount"		column="expected_amount" />
		<result property="usePoint" 			column="use_point" />
		<result property="finalPaymentAmount" 	column="final_payment_amount" />
		<result property="regDate"				column="reg_date" />
		<collection property="basketList" javaType="List" ofType="Basket">
			<id property="basketCode" column="basket_code"/>
			<result property="goodsCode" column="goods_code" />
			<result property="goodsName" column="goods_name" />
			<result property="basketAmount" column="basket_amount" />
			<result property="eachPaymentAmount" column="each_payment_amount" />
		</collection>
	</resultMap>
	
	<select id="getBuybasketList" resultMap="buybasketResultMap">
		<!-- 장바구니 구매 조회 -->
		SELECT 
			 bb.basket_group
			,b.basket_code
			,bb.user_id
			,b.goods_code
			,b.goods_name
			,b.basket_amount
			,b.each_payment_amount
			,bb.expected_amount
			,bb.use_point
			,bb.final_payment_amount
			,bb.reg_date	
		FROM 
			buybasket AS bb
			INNER JOIN 
			basket AS b
			ON 
			bb.basket_group = b.basket_group
		ORDER BY bb.basket_group;
	</select>
	
	
	
</mapper>