<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team02.ire.admin.mapper.CashReceiptsMapper">
	<resultMap type="CashReceipts" 			id="cashReceiptsResultMap">
		<id property="cashCode" 			column="cash_code" />
		<result property="userId" 			column="user_id" />
		<result property="cashReceiptType" 	column="cash_receipt_type" />
		<result property="cashReceiptCode" 	column="cash_receipt_code" />
		<result property="paymentTypeCode" 	column="payment_type_code" />
	</resultMap>

	<delete id="deleteCashReceipts" parameterType="String">
		<!-- 현금영수증 삭제 -->
		DELETE 
		FROM 
			cash_receipts
		WHERE 
			cash_code = #{cashCode};
	</delete>

	<update id="modifyCashReceipts" parameterType="CashReceipts">
		<!-- 현금영수증 수정 -->
		UPDATE
			cash_receipts  
		SET 
			 user_id = #{userId}
			,cash_receipt_type = #{cashReceiptType}
			,cash_receipt_code = #{cashReceiptCode}
			,payment_type_code = #{paymentTypeCode}
		WHERE 
			cash_code = #{cashCode};
	</update>

	<select id="getCashReceiptsInfo" parameterType="String" resultMap="cashReceiptsResultMap">
		<!-- 현금영수증 코드로 현금영수증 조회 -->
		SELECT 
			 cash_code
			,user_id
			,cash_receipt_type
			,cash_receipt_code
			,payment_type_code
		FROM
			cash_receipts 
		WHERE
			cash_code = #{cashCode};
	</select>

	<insert id="addCashReceipts" parameterType="CashReceipts">
		<!-- 현금영수증 등록 -->
		INSERT 
		INTO cash_receipts(
			 cash_code
			,user_id
			,cash_receipt_type
			,cash_receipt_code
			,payment_type_code
		)VALUES(
			 sf_new_cash_receipts_code()
			,#{userId}
			,#{cashReceiptType}
			,#{cashReceiptCode}
			,#{paymentTypeCode}
		);
	</insert>

	<select id="getCashReceiptsList" resultMap="cashReceiptsResultMap">
		<!-- 현금영수증 조회 -->
		SELECT
			 cash_code
			,user_id
			,cash_receipt_type
			,cash_receipt_code
			,payment_type_code
		FROM 
			cash_receipts;
	</select>
</mapper>