<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team02.ire.admin.mapper.DeliveryMapper">
    <resultMap id="DeliveryResultMap" type="Delivery">
        <id property="deliveryCode" column="delivery_code"/>
        <result property="delInfoCode" column="del_info_code"/>
        <result property="userId" column="user_id"/>
        <result property="deliveryNum" column="delivery_num"/>
        <result property="businessCode" column="business_code"/>
        <result property="deliveryState" column="delivery_state"/>
        <result property="paymentCompleteCode" column="payment_complete_code"/>
    </resultMap>
    
    <select id="checkDeliveryCodeAndUserId" parameterType="String" resultType="int">
    	<!-- deliveryCode와 UserId 일치 확인 -->
    	SELECT 
			COUNT(1)
		FROM 
			delivery
		WHERE 
			delivery_code = #{deliveryCode}
			AND 
			user_id = #{userId};
    </select>
    
    <!-- 배송 전체 조회 -->
    <select id="listDelivery" resultMap="DeliveryResultMap">
        SELECT
        delivery_code,
        del_info_code,
        user_id,
        delivery_num,
        business_code,
        delivery_state,
        payment_complete_code
        FROM delivery
    </select>
    
    <!-- 운송장 번호 생성 -->
    <select id="addDeliveryNum" resultType="String">
    SELECT 
	CONCAT(lpad(floor(rand()*1000), 4, '0'),'-',
		   lpad(floor(rand()*1000), 4, '0'), '-',
		   lpad(floor(rand()*1000), 4, '0')) AS delivery_num
    </select>
    
    <!-- 배송 추가 -->
    <insert id="addDelivery" parameterType="Delivery">
    	INSERT INTO delivery
			(delivery_code, del_info_code, user_id, delivery_num,
			 business_code, delivery_state, payment_complete_code)
		VALUES
			(sf_new_delivery_code(), #{delInfoCode}, #{userId},
			 #{deliveryNum}, #{businessCode}, '배송전', 'payment_complete_007')
    </insert>
</mapper>