<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team02.ire.admin.mapper.EmissionStatisticsMapper">

	    
    <resultMap id="RawMaterialsEmissionStatisticsDayResultMap" type="RawMaterialsEmissionStatisticsDay">
    <id property="raw_materials_daygroup"				column="raw_materials_daygroup" />
        <result property="rm_incoming_date"				column="rm_incoming_date" />
        <result property="carbon_dioxide_emission_sum"	column="carbon_dioxide_emission_sum" />
        <result property="user_id"						column="user_id" />
        <result property="reg_date"						column="reg_date" />
        <result property="year_and_month"				column="year_and_month" />
        <result property="raw_materials_monthgroup"	column="raw_materials_monthgroup" />
        	<association property="rawMaterialsIncoming"    javaType="RawMaterialsIncoming">
			<id property="rawMaterialsCode" 				column="raw_materials_code" />
			<result property="donationCode" 				column="donation_code" />
			<result property="rawMaterialsIncomingAmount" 	column="raw_materials_incoming_amount" />
			<result property="rawMaterialsIncomingDate" 	column="raw_materials_incoming_date" />
			<result property="rawMaterialsStatus"			column="raw_materials_status" />
			<result property="carbonDioxideEmissionLevel" 	column="carbon_dioxide_emission_level" />
			<result property="rawMaterialsDaygroup" 		column="raw_materials_daygroup" />
			<result property="donationPointSave" 			column="donation_point_save" />
			<result property="donationPointGroup" 			column="donation_point_group" />
    		</association>
    </resultMap>
    
    
    <!-- 기부받은 의류별 CO2 일별 통계 등록-->
	<insert id="rawMaterialsDayAdd" parameterType="RawMaterialsEmissionStatisticsDay">
    INSERT INTO raw_materials_daygroup_statistics
		(raw_materials_daygroup
		, rm_incoming_date
		, carbon_dioxide_emission_sum
		, user_id
		, reg_date
		, year_and_month
		, raw_materials_monthgroup)
	VALUES 
		(sf_new_raw_materials_daygroup()
		, #{rm_incoming_date}
		, ${carbon_dioxide_emission_sum}
		, 'id001'
		, CURDATE()
		, #{year_and_month}
		, sf_new_raw_materials_monthgroup())
		
		<selectKey>
		
		</selectKey>
    </insert> 
    
    
    <!-- CO2 통계 입고 그룹코드 존재 여부 확인 --> 
    <select id="rawMaterialsDayCheck" parameterType="String" resultType="int" >
    SELECT
    COUNT(1)
	FROM
	    raw_materials_incoming AS r
	    INNER JOIN
	    raw_materials_daygroup_statistics AS d
	    on
	    r.raw_materials_daygroup = d.raw_materials_daygroup
	WHERE
	    r.raw_materials_daygroup = #{rawMaterialsDaygroup}
    </select>
    
    
    <!-- 기부받은 의류별 CO2 일별 일반 상품별 이산화탄소 배출량 조회 -->
    <select id="rawMaterialsDaySumSelect" parameterType="String" resultType="int" >
		SELECT
			d.carbon_dioxide_emission_sum
		FROM
		    raw_materials_daygroup_statistics AS d
		WHERE
		    d.raw_materials_daygroup = #{rawMaterialsDaygroup}
	</select>
	
	
	<!-- 기부받은 의류별 CO2 일별 등록날짜 생성 -->
	<select id="addYearAndMonth" parameterType="String" resultType="String">
		SELECT
			concat(concat(SUBSTRING(r.raw_materials_incoming_date, 1,4),'년')
			, ' ', concat(SUBSTRING(r.raw_materials_incoming_date, 6,2),'월') )
		FROM
			raw_materials_incoming AS r
		WHERE
			r.raw_materials_code = #{rawMaterialsIncomingDate}
	</select>
	
	
	<!-- 업데이트 처리 -->
	<update id="rawMaterialsDayUpdate" parameterType="RawMaterialsEmissionStatisticsDay">
		UPDATE raw_materials_daygroup_statistics
		SET
			carbon_dioxide_emission_sum = ${carbon_dioxide_emission_sum}
		WHERE 
			raw_materials_daygroup = #{raw_materials_daygroup}
	</update>
	
	
	<!-- 일별그룹 월별 이산화탄소 합계 -->
	<select id="getYearAndMonthSum">
		SELECT 
			sum(d.carbon_dioxide_emission_sum)
		FROM
			raw_materials_daygroup_statistics AS d
		WHERE 
			d.year_and_month = #{year_and_month}
	</select>
	

</mapper>