<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.mybatis.mapper.GoodsMapper">
	<resultMap type="Goods" id="goodsResultMap">
		<id property="goodsCode" 				column="g_code" />
		<result property="goodsName" 			column="g_name" />
		<result property="goodsPrice" 			column="g_price" />
		<result property="goodsSellerId" 		column="g_seller_id" />
		<result property="goodsRegDate" 		column="g_reg_date" />
		<association property="member" javaType="Member">
			<id property="memberId" 			column="m_id" />
			<result property="memberPw" 		column="m_pw" />
			<result property="memberLevel" 		column="m_level" />
			<result property="memberName" 		column="m_name" />
			<result property="memberEmail" 		column="m_email" />
			<result property="memberAddr" 		column="m_addr" />
			<result property="memberRegDate" 	column="m_reg_date" />
		</association>
	</resultMap>
	
	<!-- 상품 정보 조회 -->
	<select id="getGoodsList" resultMap="goodsResultMap">
		SELECT
			 g.g_code
			,g.g_name
			,g.g_price
			,g.g_seller_id
			,g.g_reg_date
			,m.m_id
			,m.m_pw
			,m.m_name
			,m.m_level
			,m.m_email
			,m.m_addr
			,m.m_reg_date
		FROM
			tb_goods AS g
			INNER JOIN
			tb_member AS m
			on
			g.g_seller_id=m.m_id
		<where>
			<if test = "searchKey != null and searchKey != ''">
				${searchKey} LIKE CONCAT('%', #{searchValue}, '%');
			</if>
		</where>
	</select>
	
	<!-- 판매자조회 -->
	<select id="goodsSellerIdList" resultType="Map" fetchSize="100">
		SELECT
			 m.m_id AS sellerId
			,m.m_name AS sellerName
		FROM
			tb_member AS m
		WHERE
			m.m_level = 2;
	</select>
	
	<!-- 상품등록 -->
	<insert id="addGoods" parameterType="goods">
		INSERT INTO tb_goods
			(g_code, g_name, g_price, g_seller_id, g_reg_date)
		VALUES (sf_new_goods_code(), #{goodsName}, #{goodsPrice}, #{goodsSellerId}, CURDATE())
	</insert>
	
	<!-- 상품수정화면 -->
	<select id="modifyGoods" parameterType="String" resultMap="goodsResultMap">
			SELECT
			    g.g_code
				,g.g_name
				,g.g_price
				,g.g_seller_id
			FROM
				tb_goods AS g
			WHERE
				g.g_code = #{goodsCode};
	</select>
	
	<!-- 상품 수정 처리 -->
	<update id="modifyGoodsInfo" parameterType="Goods">
		UPDATE tb_goods
		<trim prefix="SET" prefixOverrides=",">
			<if test="goodsName != null and goodsName != ''">
				g_name= #{goodsName} 
			</if>
			<if test="goodsPrice != null and goodsPrice != ''">
				,g_price= #{goodsPrice} 
			</if>
		</trim>
			WHERE 
				g_code= #{goodsCode}
	</update>
	
	<!-- 상품 삭제 화면 -->
	<select id="removeGoodsInfo" parameterType="String" resultMap="goodsResultMap">
		SELECT
			g.g_code
			,g.g_seller_id
			,m.m_pw
		FROM
			tb_goods AS g
			INNER JOIN
			tb_member AS m
			on
			g.g_seller_id = m.m_id
		WHERE
	g.g_code = #{goodsCode};
	</select>

</mapper>