<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="ks45team02.ire.admin.mapper.PointMapper">
	<resultMap type="PointSaveStandard" 			id="pointSaveStandardResultMap">
		<id property="pointSaveStandardCode" 		column="point_save_standard_code" />
		<result property="pointSaveStandardDetail" 	column="point_save_standard_detail" />
		<result property="pointSave" 				column="point_save" />
	</resultMap>
	
	<select id="getPointSaveAndMinusList" resultType="PointSaveAndMinus">
		<!-- 포인트 적립/차감 총 조회 -->
		SELECT 
			 point_minus_code AS pointCode
			,user_id AS userId
			,point_minus AS pointAmount
			,point_state AS pointState
			,point_minus_date AS pointDate
			,point_minus_reason AS pointReason
			,point_minus_group AS pointGroup
			,'차감' AS pointSaveOrMinus
		FROM 
			point_minus AS pm
		UNION 
		SELECT 
			point_save_code AS pointCode
			,user_id AS userId
			,point_save AS pointAmount
			,point_state AS pointState
			,point_save_date AS pointDate
			,point_save_reason AS pointReason
			,point_save_group AS pointGroup
			,'지급' AS pointSaveOrMinus
		FROM 
			point_save AS ps
		ORDER BY pointDate;
	</select>
	
	<delete id="deletePointSaveStandard" parameterType="String">
		<!-- 포인트 지급 기준 삭제 -->
		DELETE 
			pss
		FROM 
			point_save_standard AS pss
		WHERE 
			point_save_standard_code = #{pointSaveStandard};
	</delete>
	
	<update id="modifyPointSaveStandard" parameterType="PointSaveStandard">
		<!-- 포인트 지급 기준 수정 -->
		UPDATE 
			point_save_standard
		SET 
			 point_save_standard_detail = #{pointSaveStandardDetail}
			,point_save = #{pointSave}
		WHERE 
			point_save_standard_code = #{pointSaveStandardCode};
	</update>
	
	<insert id="addPointSaveStandard" parameterType="PointSaveStandard">
		<!-- 포인트 지급 기준 등록 -->
		INSERT INTO point_save_standard(
			 point_save_standard_code
			,point_save_standard_detail
			,point_save
		)VALUES(
			 sf_new_point_save_standard_code()
			,#{pointSaveStandardDetail}
			,#{pointSave}
		);
	</insert>
	
	<select id="getPointSaveStandardList" resultMap="pointSaveStandardResultMap">
		<!-- 포인트 지급 기준 리스트 조회 -->
		SELECT 
			 point_save_standard_code
			,point_save_standard_detail
			,point_save
		FROM 
			point_save_standard;
	</select>
	
	<select id="getPointSaveStandardInfo" parameterType="String" resultMap="pointSaveStandardResultMap">
		<!-- 포인트 지급 기준 코드로 포인트 지급 기준 조회 -->
		SELECT 
			 point_save_standard_code
			,point_save_standard_detail
			,point_save
		FROM 
			point_save_standard
		WHERE 
			point_save_standard_code = #{pointSaveStandardCode};
	</select>
	
	
</mapper>