<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team02.ire.user.mapper.UserPaymentMapper">
	<resultMap type="PaymentComplete" 					id="paymentCompleteResultMap">
        <id property="paymentCompleteCode" 				column="payment_complete_code"/>
        <result property="buynowBasketTotalCode" 		column="buynow_basket_total_code"/>
        <result property="buynowBasket" 				column="buynow_basket"/>
        <result property="userId" 						column="user_id"/>
        <result property="finalPaymentAmount" 			column="final_payment_amount"/>
        <result property="orderDate" 					column="order_date"/>
        <result property="deliCode"						column="deli_code"/>
        <result property="paymentTypeCode" 				column="payment_type_code"/>
        <result property="paymentDate" 					column="payment_date"/>
        <result property="pointUseGroup" 				column="point_use_group"/>
        <result property="productOrderState" 			column="product_order_state"/>
        <result property="pointSave" 					column="point_save"/>
        <result property="productOrderPointGroup"		column="product_order_point_group"/>
        <result property="paymentCompleteDeleteState"	column="payment_complete_delete_state"/>
	</resultMap>
	
	<update id="updatePaymentConfirm" parameterType="PaymentComplete">
		<!-- 구매확정 상태로 수정 -->
		UPDATE 
			payment_complete
		SET 
			 product_order_state = '구매확정'
			,point_save = #{pointSave}
			,product_order_point_group = sf_new_point_group_code(#{productOrderPointGroup})
		WHERE 
			payment_complete_code = #{paymentCompleteCode};
		<selectKey resultType="String" keyProperty="productOrderPointGroup" keyColumn="product_order_point_group" order="AFTER">
            	SELECT product_order_point_group FROM payment_complete WHERE payment_complete_code = #{paymentCompleteCode};
        </selectKey>
	</update>
</mapper>