<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team02.ire.admin.mapper.UserMapper">
    <resultMap id="UserResultMap" type="User">
        <id property="userId"         column="user_id" />
        <result property="userPw"    column="user_pw" />
        <result property="userName"    column="user_name" />
        <result property="userNickName"    column="user_nickname" />
        <result property="userAddr"    column="user_addr" />
        <result property="userPhone"    column="user_phone" />
        <result property="userEmail"    column="user_email" />
        <result property="userBirth"    column="user_birth" />
        <result property="pointState"    column="point_state" />
        <result property="userJoinDate"    column="user_join_date" />
    </resultMap>
    <insert id="addUser" parameterType="User">
        <!--회원가입 처리-->
        INSERT INTO user
        (
            user_id,
            user_pw,
            user_name,
            user_nickname,
            user_addr,
            user_phone,
            user_email,
            user_birth,
            point_state,
            user_join_date
        )
        VALUES
        (
            #{userId},
            #{userPw},
            #{userName},
            #{userNickName},
            #{userAddr},
            #{userPhone},
            #{userEmail},
            #{userBirth},
            5000,
            CURDATE()
        );
    </insert>
</mapper>