<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team02.ire.user.mapper.UserOrderMapper">
	
	<update id="updateReviewComplete" parameterType="String">
		<!-- 리뷰 작성 완료 상태로 변경 -->
		UPDATE 
			payment_complete
		SET 
			product_order_state = '리뷰작성완료'
		WHERE 
			buynow_basket_total_code = #{orderCode};
	</update>	
	
	<select id="getUserOrderInfo" parameterType="String" resultType="UserOrder">
		<!-- 주문상세 -->
		SELECT
			goods_order.* 
			,pc.product_order_state AS 'orderState'
		FROM 
			(SELECT 
				 bn.buynow_code AS 'orderCode'
				,bn.goods_name AS 'goodsName'
				,bn.goods_price AS 'goodsPrice'
				,bn.buynow_amount AS 'orderAmount'
				,bn.final_payment_amount AS 'orderPaymentAmount'
				,bn.use_point AS 'usePoint'
				,bn.reg_date AS 'orderDate'
				,1 AS 'orderCount'
			FROM	
				buynow AS bn
			WHERE 
				bn.buynow_delete_state = 'N'
			UNION 
			SELECT 
				bb.basket_group AS 'orderCode'
				,b.goods_name AS 'goodsName'
				,b.goods_price AS 'goodsPrice'
				,b.basket_amount AS 'orderAmount'
				,bb.final_payment_amount AS 'orderPaymentAmount'
				,bb.use_point AS 'usePoint'
				,bb.reg_date AS 'orderDate'
				,COUNT(bb.basket_group) OVER (PARTITION BY bb.basket_group) AS 'orderCount'
			FROM	
				buybasket AS bb
				INNER JOIN 
				basket AS b
				ON 
				bb.basket_group = b.basket_group
			WHERE bb.buybasket_delete_state = 'N'
					AND b.basket_delete_state = 'N') AS goods_order
			INNER JOIN 
			payment_complete AS pc	ON 
			pc.buynow_basket_total_code = orderCode
		WHERE 
			pc.user_id = #{loginId}
			AND
			pc.buynow_basket_total_code = #{orderCode}
			AND 
			pc.payment_complete_delete_state = 'N'
		ORDER BY orderDate DESC;
	</select>
	
	<select id="getOrderCnt" resultType="int" parameterType="String">
		<!-- 주문 데이터 개수 -->
		SELECT 
			COUNT(1) 
		FROM 
			payment_complete
		WHERE 
			user_id = #{loginId};
	</select> 

	
	<select id="getUserOrderList" parameterType="map" resultType="UserOrder">
		<!-- 주문내역 리스트 -->
		SELECT
			goods_order.* 
			,pc.product_order_state AS 'orderState'
		FROM 
			(SELECT 
				 bn.buynow_code AS 'orderCode'
				,bn.goods_name AS 'goodsName'
				,bn.final_payment_amount AS 'orderPaymentAmount'
				,bn.reg_date AS 'orderDate'
				,1 AS 'orderCount'
			FROM	
				buynow AS bn
			WHERE 
				bn.buynow_delete_state = 'N'
				AND 
				bn.user_id = #{loginId}
			UNION 
			SELECT 
				bb.basket_group AS 'orderCode'
				,b.goods_name AS 'goodsName'
				,bb.final_payment_amount AS 'orderPaymentAmount'
				,bb.reg_date AS 'orderDate'
				,COUNT(bb.basket_group) OVER (PARTITION BY bb.basket_group) AS 'orderCount'
			FROM	
				buybasket AS bb
				INNER JOIN 
				basket AS b
				ON 
				bb.basket_group = b.basket_group
			WHERE bb.buybasket_delete_state = 'N'
					AND 
					b.basket_delete_state = 'N'
					AND
					bb.user_id = #{loginId}) AS goods_order
			LEFT JOIN 
			payment_complete AS pc	ON 
			pc.buynow_basket_total_code = orderCode
			<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
			WHERE 
				pc.order_date >= #{startDate}
				AND 
				<![CDATA[ pc.order_date <= #{endDate} ]]>
			</if>
		GROUP BY orderCode
		ORDER BY orderDate DESC
		<if test="startRowNum != null and startRowNum > -1">LIMIT #{startRowNum}, #{rowPerPage}</if> 
	</select>
	
</mapper>