<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team02.ire.user.mapper.UserBoardReviewMapper">
	<resultMap type="BoardReview" 				id="boardReviewResultMap">
		<id property="reviewCode" 				column="review_code" />
		<result property="userId" 				column="user_id" />
		<result property="goodsCode"		 	column="goods_code" />
		<result property="reviewStarCount" 		column="review_star_count" />
		<result property="reviewContent" 		column="review_content" />
		<result property="reviewImageName" 		column="review_image_name" />
		<result property="reviewImagePath" 		column="review_image_path" />
		<result property="reviewRegDate"		column="review_reg_date" />
		<result property="reviewPointSave"		column="review_point_save" />
		<result property="reviewPointGroup"		column="review_point_group" />
		<result property="reviewDeleteState"		column="review_delete_state" />
		<association property="goods" 				javaType="Goods">
			<id property="goodsCode" 				column="goods_code" />
			<result property="goodsName"		 	column="goods_name" />
			<result property="goodsPrice"		 	column="goods_price" />
			<result property="goodsColor" 			column="goods_color" />
			<result property="goodsSize" 			column="goods_size" />
		</association>
	</resultMap>
	
	<select id="getReviewCnt" resultType="int" parameterType="String">
		<!-- 리뷰 데이터 개수 -->
		SELECT 
			COUNT(1) 
		FROM 
			goods_review
		WHERE 
			goods_code = #{goodsCode};
	</select> 
	
	<select id="getReviewForGoods" resultMap="boardReviewResultMap" parameterType="Map">
		<!-- 특정 상품 리뷰 조회 -->
		SELECT 
			 review_code
			,user_id
			,review_star_count
			,review_content
			,review_image_name
			,review_image_path
			,review_reg_date
		FROM
			goods_review AS gr
		WHERE 
			gr.goods_code = #{goodsCode}
			AND 
			gr.review_delete_state = 'N'
		ORDER BY review_code DESC
		<if test="startRowNum != null and startRowNum > -1">LIMIT #{startRowNum}, #{rowPerPage}</if> 
	</select>
	
	
</mapper>