<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team02.ire.user.mapper.UserDonationMapper">

	<select id="getDonationCnt" parameterType="String" resultType="int">
		<!-- 기부 내역 개수 조회 -->
		SELECT 
			COUNT(donation_code)
		FROM 
			donation
		WHERE 
			user_id = #{loginId};
	</select>

	<select id="getDonationList" parameterType="String" resultType="UserDonation">
		<!-- 기부 내역 조회 -->
		SELECT 
			 d.donation_code AS donationCode
			,d.user_id AS userId
			,d.raw_materials_co2_code AS rawMaterialsCo2Code
			,rme.raw_materials_category AS rawMaterialsCategory
			,rme.raw_materials_size AS rawMaterialsSize
			,d.donation_amount AS donationAmount
			,d.donation_date AS donationDate
			,d.donation_status AS donationStatus
		FROM
			donation AS d
			INNER JOIN 
			raw_materials_emission AS rme
			ON 
			d.raw_materials_co2_code = rme.raw_materials_co2_code
		WHERE 
			d.user_id = #{loginId}
		ORDER BY donationDate DESC
		<if test="startRowNum != null and startRowNum > -1">LIMIT #{startRowNum}, #{rowPerPage}</if>
	</select>

</mapper>