<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<head>
	</head>
	<th:block layout:fragment="customScript">
		<script>
			$(function(){				
				$('#listNotice').DataTable();
			})
		</script>	
	</th:block>
	<th:block layout:fragment="customContents">
		<h1>상품 목록</h1>
		<table id="listNotice" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
					<th class="noticeNum">번호</th>
					<th class="noticeCategory">구분</th>
					<th class="noticeTitle">제목</th>
					<th class="noticeWriter">작성자</th>
					<th class="noticeDate">등록날짜</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${not #lists.isEmpty(noticeList)}" th:each="nl : ${noticeList}">
					<td th:text="${nl.noticeNum}" />
					<td th:text="${nl.noticeCate}" />
					<td><a th:text="${nl.noticeTitle}" th:href="@{/admin/detailsNotice(noticeNum=${nl.noticeNum})}"></a></td>
					<td th:text="${nl.userId}" />
					<td th:text="${nl.noticeDate}" />
				</tr>
				<tr th:unless="${not #lists.isEmpty(noticeList)}">
					<td colspan="9">등록된 상품이 없습니다.</td>
				</tr>
			</tbody>
		</table>
	</th:block>
	
	<!-- 사용자 지정 js 파일 -->
	<th:block layout:fragment="customJs">
		<!-- Datatables -->
	    <script th:src="@{/admin/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
	    <script th:src="@{/admin/vendors/jszip/dist/jszip.min.js}"></script>
	    <script th:src="@{/admin/vendors/pdfmake/build/pdfmake.min.js}"></script>
	    <script th:src="@{/admin/vendors/pdfmake/build/vfs_fonts.js}"></script>
	
	</th:block>
	
</html>