<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">
	<head>
	</head>
	
	<th:block layout:fragment="customContents">
		<div class="x_panel">
			<div class="x_title">
				<div class="clearfix"></div>
			</div>
			
			<div class="x_content" th:object="${basketInfo}">
				<br>
				<form th:action="@{/admin/modifyBasket}" method="post" data-parsley-validate class="form-horizontal form-label-left" novalidate>
					
					<div class="item form-group">
						<label for="basketCode" class="col-form-label col-md-3 col-sm-3 label-align">결제전 장바구니코드</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="text" id="basketCode" name="basketCode" th:value="*{basketCode}"
							 	   readonly="readonly" class="form-control"/>
						</div>
					</div>
					<div class="item form-group">
						<label for="basketGroup" class="col-form-label col-md-3 col-sm-3 label-align">장바구니 그룹</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="text" id="basketGroup" name="basketGroup" th:value="*{basketGroup}"
							 	   placeholder="장바구니 그룹" class="form-control"/>
						</div>
					</div>
					<div class="item form-group">
						<label for="userId" class="col-form-label col-md-3 col-sm-3 label-align">회원아이디</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="text" id="userId" name="userId" th:value="*{userId}"
								   placeholder="회원아이디" class="form-control"/>
						</div>
					</div>
					<div class="item form-group">
						<label for="goodsSearchBtn" class="col-form-label col-md-3 col-sm-3 label-align">상품 검색</label>
						<div class="col-md-6 col-sm-6 ">
							<button type="button" class="btn btn-secondary btn-sm" id="goodsSearchBtn">상품 검색</button>
						</div>
					</div>
					<div class="item form-group">
						<label for="goodsCode" class="col-form-label col-md-3 col-sm-3 label-align">상품코드</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="text" id="goodsCode" name="goodsCode" th:value="*{goodsCode}"
							 	   placeholder="상품코드" readonly="readonly" class="form-control"/>
						</div>
					</div>
					<div class="item form-group">
						<label for="goodsName" class="col-form-label col-md-3 col-sm-3 label-align">상품이름</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="text" id="goodsName" name="goodsName" th:value="*{goodsName}"
							 	   placeholder="상품이름" readonly="readonly" class="form-control"/>
						</div>
					</div>
					<div class="item form-group">
						<label for="categoryMediumName" class="col-form-label col-md-3 col-sm-3 label-align">카테고리(중)</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="text" id="categoryMediumName" name="categoryMediumName" th:value="*{categoryMediumName}"
							 	   placeholder="카테고리(중)" readonly="readonly" class="form-control"/>
						</div>
					</div>
					<div class="item form-group">
						<label for="goodsPrice" class="col-form-label col-md-3 col-sm-3 label-align">상품가격</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="text" id="goodsPrice" name="goodsPrice" th:value="*{goodsPrice}"
							 	   placeholder="상품가격" readonly="readonly" class="form-control"/>
						</div>
					</div>
					<div class="item form-group">
						<label for="amount" class="col-form-label col-md-3 col-sm-3 label-align">수량</label>
						<div class="col-md-6 col-sm-6 ">
							<select id="amount" name="basketAmount" th:with="numArr=${#numbers.sequence(1, 100)}" class="form-control">
								<th:block th:each="num : ${numArr}">
									<option th:value="${num}" th:text="${num}" th:selected="*{basketAmount} == ${num}"></option>
								</th:block>
							</select>
						</div>
					</div>
					<div class="item form-group">
						<label for="paymentAmount" class="col-form-label col-md-3 col-sm-3 label-align">결제예정합계</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="text" id="paymentAmount" name="eachPaymentAmount" th:value="*{eachPaymentAmount}"
								   readonly="readonly" class="form-control"/>
						</div>
					</div>
					<div class="item form-group">
						<label for="regDate" class="col-form-label col-md-3 col-sm-3 label-align">등록일자</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="date" id="regDate" name="regDate" th:value="*{regDate}"
								   class="form-control"/>
						</div>			
					</div>
					<div class="item form-group">
						<label for="basketState" class="col-form-label col-md-3 col-sm-3 label-align">상태</label>
						<div class="col-md-6 col-sm-6 ">
							<select id="basketState" name="basketState"class="form-control" >
								<option value="주문 전" th:selected="*{basketState} == '주문 전'">주문 전</option>
								<option value="주문 완료" th:selected="*{basketState} == '주문 완료'">주문 완료</option>
							</select>
						</div>			
					</div>
					<div class="item form-group">
						<label for="basketDeleteState" class="col-form-label col-md-3 col-sm-3 label-align">장바구니 삭제 여부</label>
						<div class="col-md-6 col-sm-6 ">
							<select id="basketDeleteState" name="basketDeleteState"class="form-control" >
								<option value="N" th:selected="*{basketDeleteState} == 'N'">N</option>
								<option value="Y" th:selected="*{basketDeleteState} == 'Y'">Y</option>
							</select>
						</div>			
					</div>
					
					<div class="item form-group">
						<div class="col-md-6 col-sm-6 offset-md-3">
							<button class="btn btn-primary" type="button" id="cancelBtn">취소</button>
							<button class="btn btn-primary" type="button" id="resetBtn">리셋</button>
							<button class="btn btn-success" type="button" id="submitBtn">수정</button>
						</div>
					</div>
				</form>
			
			</div>
		
		
		</div>
	</th:block>
	
	
	<!-- 사용자 지정 js script -->
	 
	<th:block layout:fragment="customScript">
		<script type="text/javascript" th:inline="javascript">
			const $cancelBtn = document.getElementById('cancelBtn');
			const $resetBtn = document.getElementById('resetBtn');
			const $submitBtn = document.getElementById('submitBtn');
			
			const $goodsSearchBtn = document.getElementById('goodsSearchBtn');
			
			const $goodsPrice = document.getElementById('goodsPrice');
			const $amount = document.getElementById('amount');
			const $paymentAmount = document.getElementById('paymentAmount');
			const $inputEle = document.querySelectorAll('.item > div > input');
			
			$cancelBtn.addEventListener('click', function(){
				location.href = '/admin/listBasket';
			});
			
			$resetBtn.addEventListener('click', function(){
				$inputEle.forEach(function(item){
					item.value = '';
				})

			});
			
			$submitBtn.addEventListener('click', function(){
				let checkFlag = true;
				$inputEle.forEach(function(item){
					if(item.value == '' || typeof item.value == 'undefined' || item.value == null){
						checkFlag = false;
					}
				})
				if(checkFlag){
					$submitBtn.setAttribute("type", "submit")
				}else{
					alert('값을 전부 입력해주세요.');
				}
			});
			
			$goodsSearchBtn.addEventListener('click', function(){
				window.name = "basketAdd";
				let openWin = window.open('/admin/goodsSearch', '상품검색', 'width=1000, height=600, top=100, left=100 scrollbar = yes');
			})

			$amount.addEventListener('input', function(){
				let paymentAmount = $goodsPrice.value * $amount.value;
				$paymentAmount.value = paymentAmount;
			})
			
			const msg = [[${msg}]];
			if(msg != null){
				alert(msg);
			}
			
		</script>

	</th:block>
</html>