<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<div th:fragment="donationSearchFragment">
		<form th:action="@{/admin/listDonation}" method="get">
			<div class="title_right">
				<div class="row">
				
					<div class="input-group">
						<select name="searchKey" class="form-control">
							<option value="donationNum">기부 신청 번호</option>
							<option value="userId">기부 신청자 아이디</option>
							<option value="goodsC02Code">상품별 co2배출 기준코드</option>
							<option value="donationStatus">기부신청 상태</option>
						</select>
						<input type="date" class="form-control" name="startDate">
						<input type="date" class="form-control" name="endDate">
						<input type="text" class="form-control" name="searchValue">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default">검색</button>
						</span>
					
					</div>
				
				</div>
			</div>

		</form>
	</div>
</html>