<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/userDefault}">

<head>
    <style type="text/css">
        @font-face {
            font-family: 'IBMPlexSansKR-Regular';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;}

        div{
            color: black;
        }

        *{
            font-family: 'IBMPlexSansKR-Regular';
        }

    </style>
</head>

<th:block layout:fragment="customContents">
    <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
        <h2 class="ltext-105 cl0 txt-center">
            Inquiry
        </h2>
    </section>

    <section class="bg0 p-t-75 p-b-120">
        <div class="container">
            <div class="row p-b-148">
                <div class="col-md-7 col-lg-2"></div>
                <div class="col-md-7 col-lg-8">
                    <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">

                        <table id="listBoardInquiry" class="table" cellspacing="0" width="1000"  style="margin-left: auto; margin-right: auto;">
                            <thead>
                                <th>
                                    그룹번호를 맞춰 보시기바랍니다!
                                </th>
                                <tr>
                                    <th class="userId">담당자아이디</th>
                                    <th class="inquiryCate">구분</th>
                                    <th class="inquiryTitle">제목</th>
                                    <th class="inquiryRegDate">등록날짜</th>
                                    <th class="inquiryReRef">게시글 그룹번호</th>
                                    <th>
                                        <button type="button" class="btn btn-info">
                                            <a style ="color:white" th:href="@{/listBoardInquiry}">돌아가기</a>
                                        </button>

                                    </th>
                                </tr>

                            </thead>

                            <tbody>
                                <tr th:if="${not #lists.isEmpty(boardInquiryList)}"
                                    th:each="b : ${boardInquiryList}">
                                    <td th:text="${b.userId}" />
                                    <td th:text="${b.inquiryCate}" />
                                    <td>
                                        <a th:text="${b.inquiryTitle}" th:href="@{/ContentsInquiry(inquiryCode=${b.inquiryCode})}"/>
                                    </td>
                                    <td th:text="${b.inquiryRegDate}" />
                                    <td th:text="${b.inquiryReRef}" />
                                </tr>
                                <tr th:unless="${not #lists.isEmpty(boardInquiryList)}">
                                    <td colspan="5">등록된 1:1문의가 없습니다.</td>
                                </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
                <div class="col-md-7 col-lg-2"></div>
            </div>
        </div>
    </section>


</th:block>
</html>