<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/userDefault}">

	<head>
		<style>
			a {
				color: #7a8ad9;
			}
			.userTable td {
				height : 180px;
			}
			.stateBtn{
				color: #7a8ad9;
				cursor: pointer;
			}
			#reviewStarCount{
			    display: inline-block;
			    direction: rtl;
			    border:0;
			}
			#reviewStarCount input[type=radio]{
			    display: none;
			}
			#reviewStarCount label{
			    color: transparent;
			    text-shadow: 0 0 0 #f0f0f0;
			    font-size: 2em;
			}
			#reviewStarCount input[type=radio]:checked ~ label{
			    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
			}
			textarea {
			    width: 100%;
			    height: 6.25em;
			    resize: none;
		 	}
		 	#reviewStarCount{
		 		display: flex;
		 		float: left;
		 	}
		</style>
	</head>
	<th:block layout:fragment="customContents">
		<div class="row">
			<div class="col-md-8 col-lg-9 p-b-80">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-userTable">
							<br>
							<br>
							<div class="pageTitle">
								<h1>Review</h1>
							</div>
							<br>
							<form class="w-full" th:action="@{/addBoardReview}" method="post" enctype="multipart/form-data">
								<div>
									<select id="goodsCode" name="goodsCode">
										<th:block th:each="l : ${noReviewGoods}">
											<option th:value="${l.goodsCode}">
												[[|${orderCode} : ${l.goodsName} : ${l.goodsColor} : ${l.goodsSize} |]]
											</option>
										</th:block>
									</select>
								</div>
								<div>
									<label for="reviewStarCount"></label>
										<div id="reviewStarCount">
											<input type="radio" name="reviewStarCount" value="5" class="reviewStar" id="rate1"><label for="rate1">★</label>
											<input type="radio" name="reviewStarCount" value="4" class="reviewStar" id="rate2"><label for="rate2">★</label>
											<input type="radio" name="reviewStarCount" value="3" class="reviewStar" id="rate3"><label for="rate3">★</label>
											<input type="radio" name="reviewStarCount" value="2" class="reviewStar" id="rate4"><label for="rate4">★</label>
											<input type="radio" name="reviewStarCount" value="1" class="reviewStar" id="rate5"><label for="rate5">★</label>
									</div>
								</div>			
								<br>	
								<br>	
								<br>	
								<div class="row p-b-25">
									<div class="col-12 p-b-5">
										<textarea id="reviewContent" name="reviewContent" 
										class="size-110 bor8 stext-102 cl2 p-lr-20 p-tb-10" style="height: 120px; width:400px"></textarea>
									</div>
								</div>
								<div>
									<label for="reviewImage" class="col-form-label col-md-3 col-sm-3 label-align">이미지</label>
									<div class="col-md-6 col-sm-6">
										<input type="file" id="reviewImage" name="reviewImage"> 
									</div>
								</div>
								<br>
								<input type="text" name="orderCode" th:value="${orderCode}" style="display:none">
								<button class="flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-10" type="button" id="submitBtn">등록</button>
							</form>	
						</div>
					</div>
				</div>
			</div>
			<div class="side-menu">
				<div class="p-t-55">
					<h4 class="mtext-112 cl2 p-b-33">My Page</h4>
					<ul>
                        <li class="bor18">
                            <a href="/modifyUser" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">정보 수정</a>
                            <a href="/listPoint" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">포인트 내역</a>
                            <a href="/listOrder" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">주문 내역</a>
                            <a href="/listOrder" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">취소 내역</a>
                            <a href="/listOrder" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">교환/환불 내역</a>
                            <a href="/listDonation" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">기부 내역</a>
                            <a href="/admin" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">관리자 페이지</a>
                            <a href="/logout" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">로그아웃</a>
                        </li>
					</ul>
				</div>
				
			</div>
		</div>
		
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript" th:inline="javascript">
			const $submitBtn = document.getElementById('submitBtn');
			
			const $reviewContent = document.getElementById('reviewContent');
			const $inputEle = document.querySelectorAll('div > input');
			
			$submitBtn.addEventListener('click', function(){
				let checkFlag = true;
				$inputEle.forEach(function(item){
					if(item.value == '' || typeof item.value == 'undefined' || item.value == null || item.id == 'reviewContent'){
						if(item.id != 'reviewImage'){
							console.log(item);
							checkFlag = false;
						}
					}
				})
				if($reviewContent.value == '' || $reviewContent.value == null || typeof $reviewContent.value == 'undefined'){
					checkFlag = false;
				}
				if(checkFlag){
					$submitBtn.setAttribute("type", "submit")
				}else{
					alert('리뷰 항목을 전부 입력해주세요.');
				}
			});
			
			const msg = [[${msg}]];
			if(msg != null){
				alert(msg);
			}
			

		</script>
	</th:block>
</html>