<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/userDefault}">

	<head>
	<style type="text/css">
		@font-face {
	    font-family: 'IBMPlexSansKR-Regular';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;}
		
		div{
			color: black;
		}
		
		*{
		font-family: 'IBMPlexSansKR-Regular';
		}
		
		</style>
		</head>
	
<th:block layout:fragment="customContents">
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			FAQ
		</h2>
	</section>	
	
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-2"></div>
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						
							<table id="listNotice" class="table" cellspacing="0" width="1000"  style="margin-left: auto; margin-right: auto;">
								<thead>
									<tr>
										<th class="FAQ_code">번호</th>
										<th class="FAQ_title" colspan="5">제목</th>
										<th class="FAQ_views" style= "text-align: right">조회수</th>
										<th class="FAQ_reg_date" style= "text-align: right">등록날짜</th>
									</tr>
								</thead>
								
								<tbody>
								<tr th:if="${not #lists.isEmpty(FAQList)}" th:each="fl : ${FAQList}">
											<td th:text="${#strings.substring(fl.FAQ_code, 6, 7)}"/>
											<td colspan="5"><a th:text="${fl.FAQ_title}" th:href="@{ContentsFAQ(FAQ_code=${fl.FAQ_code})}" style="color: black"></a></td>
											<td style= "text-align: right" th:text="${fl.FAQ_views}"></td>
											<td style= "text-align: right" th:text="${fl.FAQ_reg_date}" />
								</tr>
										<tr th:unless="${not #lists.isEmpty(FAQList)}">
											<td colspan="5">등록된 자주묻는질문이 없습니다.</td>
										</tr>
								</tbody>

							</table>	

						</div>
					</div>
				<div class="col-md-7 col-lg-2"></div>
			</div>
		</div>
	 </section>
						

</th:block>
</html>