<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">
	<head>
	</head>
	
	<th:block layout:fragment="customContents">
		<div class="x_panel">
			<div class="x_title">
				<div class="clearfix"></div>
			</div>
			
			<div class="x_content" th:object="${pointMinusInfo}">
				<br>
				<form th:action="@{/admin/modifyMinusPoint}" method="post" data-parsley-validate class="form-horizontal form-label-left" novalidate>
					
					<div class="item form-group">
						<label for="pointMinusCode" class="col-form-label col-md-3 col-sm-3 label-align">포인트 차감 코드</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="text" id="pointMinusCode" name="pointMinusCode" th:value="*{pointMinusCode}"
							 readonly="readonly" class="form-control"/>
						</div>
					</div>
					<div class="item form-group">
						<label for="userId" class="col-form-label col-md-3 col-sm-3 label-align">회원 아이디</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="text" id="userId" name="userId" th:value="*{userId}"
								   placeholder="회원 아이디" class="form-control"/>
						</div>
					</div>
					<div class="item form-group">
						<label for="pointMinus" class="col-form-label col-md-3 col-sm-3 label-align">포인트 차감 금액</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="number" id="pointMinus" name="pointMinus" th:value="*{pointMinus}"
								   placeholder="포인트 차감 금액" class="form-control"/>
						</div>
					</div>
					<div class="item form-group">
						<label for="pointState" class="col-form-label col-md-3 col-sm-3 label-align">포인트 적립금</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="number" id="pointState" name="pointState" th:value="*{pointState}"
								   placeholder="포인트 적립금" class="form-control"/>
						</div>
					</div>
					<div class="item form-group">
						<label for="pointMinusDate" class="col-form-label col-md-3 col-sm-3 label-align">포인트 지급 날짜</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="date" id="pointMinusDate" name="pointMinusDate" th:value="*{pointMinusDate}"
								   class="form-control"/>
						</div>			
					</div>
					<div class="item form-group">
						<label for="pointMinusReason" class="col-form-label col-md-3 col-sm-3 label-align">포인트 지급 사유</label>
						<div class="col-md-6 col-sm-6 ">
							<select id="pointMinusReason" name="pointMinusReason" class="form-control">
								<option value="미선택">선택해주세요.</option>
								<option value="상품 구매 시 사용" th:selected="*{pointMinusReason} == '상품 구매 시 사용'">	상품 구매 시 사용</option>
								<option value="기타">기타</option>
							</select>
						</div>			
					</div>
					<div class="item form-group" style="display : none">
						<label for="pointMinusReasonEtc" class="col-form-label col-md-3 col-sm-3 label-align">기타 사유</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="text" id="pointMinusReasonEtc" name="pointMinusReasonEtc"
								   value="0" class="form-control"/>
						</div>
					</div>
					<div class="item form-group">
						<label for="pointMinusGroup" class="col-form-label col-md-3 col-sm-3 label-align">포인트 차감 그룹코드</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="text" id="pointMinusGroup" name="pointMinusGroup" th:value="*{pointMinusGroup}"
								   placeholder="공백 허용" class="form-control"/>
						</div>			
					</div>
					<div class="item form-group">
						<label for="pointMinusDeleteState" class="col-form-label col-md-3 col-sm-3 label-align">포인트 차감 삭제 여부</label>
						<div class="col-md-6 col-sm-6 ">
							<select id="pointMinusDeleteState" name="pointMinusDeleteState"class="form-control">
								<option value="N" th:selected="*{pointMinusDeleteState} == 'N'">N</option>
								<option value="Y" th:selected="*{pointMinusDeleteState} == 'Y'">Y</option>
							</select>
						</div>			
					</div>
					
					<div class="item form-group">
						<div class="col-md-6 col-sm-6 offset-md-3">
							<button class="btn btn-primary" type="button" id="cancelBtn">취소</button>
							<button class="btn btn-primary" type="button" id="resetBtn">리셋</button>
							<button class="btn btn-success" type="button" id="submitBtn">수정</button>
						</div>
					</div>
				</form>
			
			</div>
		
		
		</div>
	</th:block>
	
	
	<!-- 사용자 지정 js script -->
	 
	<th:block layout:fragment="customScript">
		<script type="text/javascript" th:inline="javascript">
			const $cancelBtn = document.getElementById('cancelBtn');
			const $resetBtn = document.getElementById('resetBtn');
			const $submitBtn = document.getElementById('submitBtn');
			const $pointMinusReason = document.getElementById('pointMinusReason');
			const $pointMinusReasonEtc = document.getElementById('pointMinusReasonEtc');
			const $pointMinus = document.getElementById('pointMinus');
			const $inputEle = document.querySelectorAll('.item > div > input');
			
			$cancelBtn.addEventListener('click', function(){
				location.href = '/admin/listPoint';
			});
			
			$resetBtn.addEventListener('click', function(){
				$inputEle.forEach(function(item){
					item.value = '';
				})

			});
			
			$submitBtn.addEventListener('click', function(){
				let checkFlag = true;
				$inputEle.forEach(function(item){
					if(item.value == '' || typeof item.value == 'undefined' || item.value == null){
						if(item.id != 'pointMinusGroup' || $pointMinusReason.value == '미선택'){
							checkFlag = false;
						}
					}
				})
				if(checkFlag){
					$submitBtn.setAttribute("type", "submit")
				}else{
					alert('값을 전부 입력해주세요.');
				}
			});
			
			$pointMinusReason.addEventListener('change', function(){
				$pointMinus.value = '';
				$pointMinusReasonEtc.parentElement.parentElement.style.display = 'none';
				$pointMinusReasonEtc.value = 0;
				
				if($pointMinusReason.value == '기타'){
					$pointMinusReasonEtc.parentElement.parentElement.style.display = '';
					$pointMinusReasonEtc.value = '';
				}
			});
			
			const msg = [[${msg}]];
			if(msg != null){
				alert(msg);
			}
			
		</script>

	</th:block>
</html>