<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<head>
	</head>

	<th:block layout:fragment="customContents">
	<div th:include="~{admin/search/search :: donationSearchFragment}"></div>
		
		<table class="table table-striped jambo_table">
			<thead>
				<tr>
					<th>기부 신청 번호</th>
					<th>기부 신청자 아이디</th>
					<th>상품별 co2배출 기준코드</th>
					<th>중고매입상품 개수</th>
					<th>기부신청 날짜</th>
					<th>기부신청 상태</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:unless="${#lists.isEmpty(donationList)}" th:each="l : ${donationList}">
					<td th:text="${l.donationCode}"></td>
					<td th:text="${l.userId}"></td>
					<td th:text="${l.goodsC02Code}"></td>
					<td th:text="${l.donationAmount}"></td>
					<td th:text="${l.donationDate}"></td>
					<td th:text="${l.donationStatus}"></td>
					<td><a th:href="@{/admin/modifyDonation(donationCode=${l.donationCode})}">수정</a></td>
					<td><a th:href="@{/admin/deleteDonation(donationCode=${l.donationCode})}">삭제</a></td>
				</tr>
				<tr th:if="${#lists.isEmpty(donationList)}">
					<td colspan="6">등록된 기부가 존재하지 않습니다.</td>
				</tr>
			</tbody>
			
			<tfoot>
				<tr>
					<td colspan="8">
						<a th:href="@{/admin/listDonation}">[맨처음으로]</a>
						<a th:if="${currentPage > 1}" 
							 th:href="@{/admin/listDonation(currentPage=${currentPage - 1})}"
						>[이전]</a>
						<span th:unless="${currentPage > 1}" >[이전]</span>
						<th:block th:each="num: ${#numbers.sequence(startPageNum, endPageNum)}">
							<a th:if="${currentPage != num}"
								 th:href="@{/admin/listDonation(cunrrentPage=${num})}"
								 th:text="|[ ${num} ]|">
							</a>
							<span th:if="${currentPage == num}">[[${'[' + num + ']'}]]</span>
						</th:block>
						<a th:if="${currentPage < lastPage}"
							 th:href="@{/admin/listDonation(currentPage=${currentPage + 1})}"
						>[다음]</a>
						<span th:unless="${currentPage < lastPage}" >[다음]</span>
						<a th:href="@{/admin/listDonation(currentPage=${lastPage})}">[맨마지막으로]</a>
					</td>
				</tr>
			</tfoot>
		</table>
		
	</th:block>
	
	
	
	<!-- 사용자 지정 js script -->
	 
	<th:block layout:fragment="customScript">
		<script type="text/javascript" th:inline="javascript">

			const msg = [[${msg}]];
			if(msg != null){
				alert(msg);
			}
			
		</script>

	</th:block>

</html>