<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<head>
		<style type="text/css">
			.styleTitle {
				text-align: center;
				color: black;
				font-weight: bold;
			}
		</style>
	</head>
	
	<th:block layout:fragment="customScript">
		<script type="text/javascript" th:inline="javascript">
			$(function(){
				
				const msg = [[${msg}]];
				if(msg != null){
					alert(msg);
				}
				
				function validateValue(checkValue) {
					if(typeof checkValue == 'undefined' || checkValue == null || checkValue == ''){
						return true;
					}
					return false;	
				}
				
				$('#submitBtn').click(function(){
					let isSubmit = true;
					
					$('#modifyBusinessOrderForm input').each(function(idx, item){
						let checkValue = $(item).val();
						let labelValue = $(item).parent('div').parent('div').find('label').text();
						if(validateValue(checkValue)){
							
							alert(`${labelValue}를 입력해주세요`);
							$(item).focus();
							isSubmit = false;
							
							return false;
						}
					});
					if(isSubmit) $('#modifyBusinessOrderForm').submit();
				});
				
				$('#cancelBtn').click(function(){
					location.href = '/admin/listBusinessOrder';
				})
				
				$('#goodsSearchBtn').click(function(){
					window.name = "businessOrderAdd";
					let openWin = window.open('/admin/goodsSearchForBusinessOrderadd', '상품검색'
											  ,'width=1000, height=600, top=100, left=100 scrollbar = yes');
					
				});
				
				$('#businessSearchBtn').click(function(){
					window.name = "businessOrderAdd";
					let openWin = window.open('/admin/businessSearchForBusinessOrderadd', '거래처검색'
											  ,'width=1000, height=600, top=100, left=100 scrollbar = yes');
				});
			});
		</script>
	</th:block>

	<th:block layout:fragment="customContents">
		<div class="">
			<div class="page-title"></div>
	     	<div class="clearfix"></div>
	     	<div class="row">
	     		<div class="col-md-12 col-sm-12">
					<div class="x_panel">
						<div class="x_content">
							<form id= "modifyBusinessOrderForm" th:action="@{/admin/modifyBusinessOrder}" method="post">
							
							<th:block th:if="${not #lists.isEmpty(businessorderinfo)}" th:each="bo : ${businessorderinfo}">
							
							<div class="item form-group">
								<label for="categoryBigName" class="col-form-label col-md-3 col-sm-3 label-align">발주 코드</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="text" id=businessOrderCode name="businessOrderCode" th:value="${bo.businessOrderCode}" 
							  		       class="form-control" readonly="readonly"/>
								</div>
							</div>
							
							<div class="item form-group">
								<label for="goodsSearchBtn" class="col-form-label col-md-3 col-sm-3 label-align">거래처 검색</label>
								<div class="col-md-6 col-sm-6 ">
									<button type="button" class="btn btn-secondary btn-sm" id="businessSearchBtn">거래처 검색</button>
								</div>
							</div>
							
							<div class="item form-group">
								<label for="categoryBigName" class="col-form-label col-md-3 col-sm-3 label-align">계약 코드</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="text" id=businessCode name="businessCode" th:value="${bo.businessCode}" 
							  		       class="form-control" readonly="readonly"/>
								</div>
							</div>
							
							<div class="item form-group">
								<label for="categoryBigName" class="col-form-label col-md-3 col-sm-3 label-align">거래처 코드</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="text" id="contractCode" name="contractCode" th:value="${bo.contractCode}"
							  		       class="form-control" readonly="readonly"/>
								</div>
							</div>
							
							<div class="item form-group">
								<label for="categoryBigName" class="col-form-label col-md-3 col-sm-3 label-align">거래처 이름</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="text" id="businessName" name="businessName" th:value="${bo.business.businessName}"
							  		       class="form-control" readonly="readonly"/>
								</div>
							</div>
							
							<div class="item form-group">
								<label for="categoryBigName" class="col-form-label col-md-3 col-sm-3 label-align">거래처 담당자</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="text" id="businessManagerName" name="businessManagerName" th:value="${bo.businessManagerName}"
							  		       class="form-control" readonly="readonly"/>
								</div>
							</div>
							
							<div class="item form-group">
								<label for="categoryBigName" class="col-form-label col-md-3 col-sm-3 label-align">발주 수량</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="text" id="businessOrderAmount" name="businessOrderAmount" th:value="${bo.businessOrderAmount}"
							  		       class="form-control" />
								</div>
							</div>
							
							<div class="item form-group">
								<label for="categoryBigName" class="col-form-label col-md-3 col-sm-3 label-align">신청 결과</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="text" id="businessOrderResult" name="businessOrderResult" th:value="${bo.businessOrderResult}"
							  		       class="form-control" value="수신 전" readonly="readonly"/>
								</div>
							</div>
							
							
							<div class="item form-group">
								<label for="goodsSearchBtn" class="col-form-label col-md-3 col-sm-3 label-align">상품 검색</label>
								<div class="col-md-6 col-sm-6 ">
									<button type="button" class="btn btn-secondary btn-sm" id="goodsSearchBtn">상품 검색</button>
								</div>
							</div>
							
							<div class="item form-group">
								<label for="categoryBigName" class="col-form-label col-md-3 col-sm-3 label-align">상품코드</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="text" id="goodsCode" name="goodsCode" th:value="${bo.goodsCode}"
							  		       class="form-control" readonly="readonly"/>
								</div>
							</div>
							
							<div class="item form-group">
								<label for="categoryBigName" class="col-form-label col-md-3 col-sm-3 label-align">매입단가</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="text" id="factoryGoodsPrice" name="factoryGoodsPrice" th:value="${bo.factoryGoodsPrice}" 
							  		       class="form-control" readonly="readonly"/>
								</div>
							</div>
							
							<div class="item form-group">
								<div  class="col-md-6 col-sm-6 offset-md-3" style="text-align: center;">
									<button class="btn btn-primary" type="button" id="submitBtn">수정</button>
									<button class="btn btn-danger" type="button" id="cancelBtn">취소</button>
								</div>
							</div>
							</th:block>
							</form>
               			</div>
           			</div>
       			</div>
   			</div>
	</th:block>
	
	<!-- 사용자 지정 js 파일 -->
	<th:block layout:fragment="customjs">
	<!-- jQuery -->
    <script th:src="@{/admin/vendors/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/admin/vendors/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/admin/vendors/fastclick/lib/fastclick.js}"></script>
    <!-- NProgress -->
    <script th:src="@{/admin/vendors/nprogress/nprogress.js}"></script>
    
    <script th:src="@{/admin/build/js/custom.min.js"></script>
    
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js}"></script>
    <script th:src="@{admin/vendors/validator/multifield.js}"></script>
    <script th:src="@{admin/vendors/validator/validator.js}"></script>
	</th:block>
</html>