<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>asideFragment</title>
</head>

<div class="col-md-3 left_col" th:fragment="asideFragment">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a th:href="@{/}" class="site_title"><i class="fa fa-paw"></i> <span>아이레</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img th:src="@{/admin/images/img.jpg}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>환영합니다.</span>
                <h2>2팀 관리자</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

		<!-- sidebar menu -->
	<!-- sidebar menu -->
		<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
		    <div class="menu_section">
		        <h3>General</h3>
		        <ul class="nav side-menu">
		            <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
		                <ul class="nav child_menu">
		                    <li><a href="/admin">관리자메인창</a></li>
		                    <li><a href="/">유저 메인창</a></li>
		                </ul>
		            </li>
		            
		            <li><a><i class="fa fa-edit"></i>#회원-김재범 <span class="fa fa-chevron-down"></span></a>
		                <ul class="nav child_menu">
		                    <li><a href="/admin/addUser">#회원 등록</a></li>
		                    <li><a href="/admin/findIdUser">#-X회원 아이디 찾기</a></li>
		                    <li><a href="/admin/findPwUser">#-X회원 비밀번호 찾기</a></li>
		                    <li><a href="/admin/listUser">#회원 조회</a></li>
		                    <li><a href="/admin/deliveryUser">#회원 배송</a></li>
		                    <li><a href="/admin/listDormantUser">#-X휴면 회원 조회</a></li>
		                    <li><a href="/admin/listDropUser">#-X삭제 회원 조회</a></li>
		                    <li><a href="/admin/usePointSaveUser">#회원 포인트 적립</a></li>
		                    <li><a href="/admin/loginUser">#회원 로그인</a></li>
		                    <li><a href="/admin/loginHistory">#회원 로그인 내역 조회</a></li>
		                </ul>
		            </li>
		            
		            <li><a ><i class="fa fa-edit"></i>#상품 -유동혁 <span class="fa fa-chevron-down"></span></a>
		                <ul class="nav child_menu">
		                    <li><a href="/admin/addGoods">#상품 등록</a></li>
		                    <li><a href="/admin/listGoods">#상품 조회</a></li>
		                </ul>
		            </li>
		            <li><a><i class="fa fa-edit"></i>#카테고리-유동혁 <span class="fa fa-chevron-down"></span></a>
		                <ul class="nav child_menu">
		                    <li><a href="/admin/addCategory">#카테고리 등록</a></li>
		                    <li><a href="/admin/listBigCategory">#카테고리 대 조회</a></li>
		                    <li><a href="/admin/listMideumCategory">#카테고리 중 조회</a></li>

		                </ul>
		            </li>
		            
		            <li><a><i class="fa fa-edit"></i>장바구니 - 김민경 <span class="fa fa-chevron-down"></span></a>
		                <ul class="nav child_menu">
		                    <li><a href="/admin/addBasket">장바구니 등록</a></li>
		                    <li><a href="/admin/listBasket">장바구니 조회</a></li>
		                </ul>
		            </li>
                    <li><a><i class="fa fa-edit"></i>#계약 - 김재범 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addContract">#계약 등록</a></li>
                            <li><a href="/admin/modifyContract">#계약 수정</a></li>
                            <li><a href="/admin/listContract">#계약 조회</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i>#배송지정보 - 유동혁 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addDeliveryInfo">#배송지정보 등록</a></li>
                            <li><a href="/admin/modifyDeliveryInfo">#배송지정보 수정</a></li>
                            <li><a href="/admin/deleteDeliveryInfo">#배송지정보 삭제</a></li>
                            <li><a href="/admin/listDeliveryInfo">#배송지정보 조회</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i>#배송 - 유동혁 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addDelivery">#배송 등록</a></li>
                            <li><a href="/admin/modifyDelivery">#배송 수정</a></li>
                            <li><a href="/admin/deleteDelivery">#배송 삭제</a></li>
                            <li><a href="/admin/listDelivery">#배송 조회</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i>기부 - 김민경 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addDonation">기부 등록</a></li>
                            <li><a href="/admin/listDonation">기부 조회</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i>#상품매입 및 판매단가 - 유동혁 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addUnitPrice">#상품매입 및 판매단가 등록</a></li>
                            <li><a href="/admin/listUnitPrice">#상품매입 및 판매단가 조회</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i>포인트 - 김민경 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addStandardPoint">포인트 기준 등록</a></li>
                            <li><a href="/admin/listStandardPoint">포인트 기준 조회</a></li>
                            <li><a href="/admin/addSavePoint">포인트 지급 등록</a></li>
                            <li><a href="/admin/addMinusPoint">포인트 차감 등록</a></li>
                            <li><a href="/admin/listPoint">포인트 내역 조회</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i>#거래처 - 김재범 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addBusiness">#거래처 등록</a></li>
                            <li><a href="/admin/modifyBusiness">#거래처 수정</a></li>
                            <li><a href="/admin/listBusiness">#거래처 조회</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i>#발주 - 유동혁 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addBusinessOrder">#발주 등록</a></li>
                            <li><a href="/admin/listBusinessOrder">#발주 조회</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i>#상품매출 및 매입비용 - 이유민 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addGoodsBuying">#상품매입 등록</a></li>
                            <li><a href="/admin/listGoodsBuying">#상품매입 조회</a></li>
                            <li><a href="/admin/listGoodsBuyingPaymentList">#상품매입 결제 조회</a></li>
                            --------------------------------------------
                            <li><a href="/admin/addGoodsSales">#상품매출 등록</a></li>
                            <li><a href="/admin/listGoodsSales">#상품매출 조회</a></li>
                            <li><a href="/admin/modifyGoodsSales">#상품매출 수정</a></li>
                            --------------------------------------------
                            <li><a href="/admin/goodsSalesBuyingGroup">#매입,매출(연,월,일)조회</a></li>
                            <li><a href="/admin/goodsSalesTotalSearch">#상품 총 매출 조회</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i>#원자재 입고/출고 - 김민경/임수락 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addIncomingRawmaterials">원자재 입고등록</a></li>
                            <li><a href="/admin/listIncomingRawmaterials">원자재 입고조회</a></li>
                            ----------------------------------------
                            <li><a href="/admin/addoutgoingRawmaterials">#원자재 출고등록</a></li>
                            <li><a href="/admin/listOutgoingRawmaterials">#원자재 출고조회</a></li>
                            ----------------------------------------
                            <li><a href="/admin/listNowRawmaterials">#원자재 재고 현황 조회</a></li>
                            <li><a href="/admin/totalRawmaterialsInOut">#원자재 입/출고 종합조회</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i>#품질 - 임수락 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/listQualityGeneralLevel">#일반 품질관리 기준</a></li>
                            <li><a href="/admin/listQualityHazadousSubstanceLevel">#유해물질 검사 기준</a></li>
                            <li><a href="/admin/requestQualityInspection#">#유해물질 검사요청</a></li>
                            <li><a href="/admin/listQualityInspectionStandard">#품질검사 결과 조회</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i>장바구니 구매 - 김민경 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addBuyBasket">장바구니 구매 등록</a></li>
                            <li><a href="/admin/listBuyBasket">장바구니 구매 조회</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i>즉시 구매 - 김민경 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addBuyNow">즉시 구매 등록</a></li>
                            <li><a href="/admin/listBuyNow">즉시 구매 조회</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i>결제 내역 - 김민경 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addPayment">결제내역 등록</a></li>
                            <li><a href="/admin/listPayment">결제내역 조회</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i>구매자별 결제 종류 - 김민경 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addTypePaymentInfo">구매자별 결제 종류 등록</a></li>
                            <li><a href="/admin/listTypePaymentInfo">구매자별 결제 종류 조회</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i>현금영수증 - 김민경 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addCashReceipts">현금영수증 등록</a></li>
                            <li><a href="/admin/listCashReceipts">현금영수증 조회</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i>#상품입고 - 김재범 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addIncoming">#상품입고 등록</a></li>
                            <li><a href="/admin/modifyIncoming">#상품입고 수정</a></li>
                            <li><a href="/admin/listIncoming">#상품입고 조회</a></li>
                            <li><a href="/admin/listIncomingStock">#상품 재고 현황 조회</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i>#상품출고 - 김재범 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addOutGoing">#상품출고 등록</a></li>
                            <li><a href="/admin/modifyOutGoing">#상품출고 수정</a></li>
                            <li><a href="/admin/listOutGoing">#상품출고 조회</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i>#교환/환불 - 김재범 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addExchangeStandard">#교환 기준 등록</a></li>
                            <li><a href="/admin/listExchangeStandard">#교환 기준 조회</a></li>
                            <li><a href="/admin/modifyExchange">#교환 수정</a></li>
                            <li><a href="/admin/requestExchange">#교환 요청</a></li>
                            <li><a href="/admin/approvalExchange">#교환 승인</a></li>
                            <li><a href="/admin/addRefundStandard">#환불 기준 등록</a></li>
                            <li><a href="/admin/listRefundStandard">#환불 기준 조회</a></li>
                            <li><a href="/admin/modifyRefund">#환불 수정</a></li>
                            <li><a href="/admin/requestRefund">환불 요청</a></li>
                            <li><a href="/admin/approvalRefund">#환불 승인</a></li>
                        </ul>
                    </li>


                    <li><a href="/admin/listBoardEvent"><i class="fa fa-edit"></i>#이벤트게시판 - 임수락 <span class="fa fa-chevron-down"></span></a>
		            </li>
		            
		            <li><a href="/admin/listBoardFAQ"><i class="fa fa-edit"></i>#자주묻는질문게시판 - 이유민 <span class="fa fa-chevron-down"></span></a>
		            </li>
		            
		            <li><a><i class="fa fa-edit"></i>#1:1문의 게시판 - 김재범 <span class="fa fa-chevron-down"></span></a>
		                <ul class="nav child_menu">
		                    <li><a href="/admin/addBoardInquiry">#1:1문의 등록</a></li>
		                    <li><a href="/admin/modifyBoardInquiry">#1:1문의 수정</a></li>
		                    <li><a href="/admin/deleteBoardInquiry">#1:1문의 삭제</a></li>
		                    <li><a href="/admin/listBoardInquiry">#1:1문의 조회</a></li>
		                    <li><a href="/admin/answerBoardInquiry">#1:1문의 답변</a></li>
		                    <li><a href="/admin/listAnswerBoardInquiry">#1:1문의 답변조회</a></li>
		                </ul>
		            </li>
		            
		            <li><a href="/admin/listBoardNotice"><i class="fa fa-edit"></i>공지사항 게시판 - 유동혁 <span class="fa fa-chevron-down"></span></a>
		            </li>
		            
		            <li><a href="/admin/listBoardReview"><i class="fa fa-edit"></i>리뷰 게시판 - 김민경 <span class="fa fa-chevron-down"></span></a>
		            </li>
		            
		            <li><a href="/admin/listBoardUserGuide"><i class="fa fa-edit"></i>#이용가이드 게시판 - 유동혁 <span class="fa fa-chevron-down"></span></a>
		            </li>
		            
		            <li><a><i class="fa fa-edit"></i>#부가세 - 이유민 <span class="fa fa-chevron-down"></span></a>
		                <ul class="nav child_menu">
		                    <li><a href="/admin/listVat">#부가세 조회</a></li>
		                </ul>
		            </li>

                    <li><a><i class="fa fa-edit"></i># 기부받은 의류 CO2 기준 - 이유민 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/addRawMaterialsEmission"># 기부받은 의류 CO2 기준 등록</a></li>
                            <li><a href="/admin/listRawMaterialsEmission"># 기부받은 의류 CO2 기준 조회 </a></li>
                        </ul>
                    </li>
                    
		            <li><a><i class="fa fa-desktop"></i># 원단별 CO2 기준 - 이유민<span class="fa fa-chevron-down"></span></a>
		                <ul class="nav child_menu">
		                    <li><a href="/admin/addGoodsEmission"># 원단별 CO2 기준 등록</a></li>
                            <li><a href="/admin/listGoodsEmission"># 원단별 기준 CO2 조회 </a></li>
		                </ul>
		            </li>
		         
		            <li><a><i class="fa fa-bar-chart-o"></i> # CO2 관련 통계자료 - 이유민<span class="fa fa-chevron-down"></span></a>
		                <ul class="nav child_menu">
		                    <li><a href="/admin/listEmissionRawMaterialsGroupStatistics">#기부받은 의류 CO2통계 (일)</a></li>
		                    <li><a href="/admin/listEmissionRawMaterialsGroupStatisticsMonth">#기부받은 의류 CO2통계 (월)</a></li>
		                    <li><a href="/admin/listEmissionRawMaterialsGroupStatisticsYear">#기부받은 의류 CO2통계 (년)</a></li>
		                    <li><a href="/admin/listEmissionC02Total">#전체 상품별 업사이클링 이산화 탄소 배출량 조회</a></li>
		                </ul>
		            </li>
		            
		               <li><a><i class="fa fa-table"></i> #통계자료 - 임수락 <span class="fa fa-chevron-down"></span></a>
		                <ul class="nav child_menu">
		                    <li><a href="tables">Tables</a></li>
		                    <li><a href="tables_dynamic">Table Dynamic</a></li>
		                </ul>
		            </li>
		        </ul>
		    </div>

		
		</div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="/">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>

</html>